Repository allure-framework/allure-js, changes with the labels that .github/labeler.yml gives for each.
All labels: theme:workflow, theme:build, theme:codeceptjs, theme:cucumberjs, theme:decorators, theme:hermione, theme:jasmine, theme:jest, theme:api, theme:mocha, theme:playwright, theme:vitest, theme:newman

.github/labeler.yml:

"theme:workflow":
  - ".github/**"

"theme:build":
  - ".editorconfig"
  - ".eslintrc.js"
  - ".gitignore"
  - ".prettierrc"
  - "lerna.json"
  - "package.json"
  - "tsconfig.json"
  - ".husky/**"

"theme:codeceptjs":
  - "packages/allure-codeceptjs/**"

"theme:cucumberjs":
  - "packages/allure-cucumberjs/**"

"theme:decorators":
  - "packages/allure-decorators/**"

"theme:hermione":
  - "packages/allure-hermione/**"

"theme:jasmine":
  - "packages/allure-jasmine/**"

"theme:jest":
  - "packages/allure-jest/**"

"theme:api":
  - "packages/allure-js-commons/**"

"theme:mocha":
  - "packages/allure-mocha/**"

"theme:playwright":
  - "packages/allure-playwright/**"

"theme:vitest":
  - "packages/allure-vitest/**"

"theme:newman":
  - "packages/newman-reporter-allure/**"

remove deprecated rmdir function usage
  packages/allure-vitest/test/utils.ts
Labels: theme:vitest

add vitest entry point to the root readme
  README.md
Labels: none

drop Node 14 (via #833)
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
Labels: theme:workflow, theme:build

remove deprecated rmdir function usage (via #835)
  packages/allure-vitest/test/utils.ts
Labels: theme:vitest

add vitest entry point to the root readme file (via #837)
  README.md
Labels: none

cleanup packagejson
  packages/allure-hermione/package.json
  packages/allure-jest/package.json
Labels: theme:hermione, theme:jest
