Repository allure-framework/allure-js, pull requests merged in 2021-09, with the labels that each got.

#348 Fix attachments from path
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/package.json
  packages/allure-js-commons/src/AllureRuntime.ts
  packages/allure-js-commons/src/writers/AllureWriter.ts
  packages/allure-js-commons/src/writers/FileSystemAllureWriter.ts
  packages/allure-js-commons/src/writers/InMemoryAllureWriter.ts
  packages/allure-js-commons/test/runner.ts
  packages/allure-js-commons/test/specs/FileSystemAllureWriter.spec.ts
  packages/allure-js-commons/test/tsconfig.json
  yarn.lock
Labels: type:bug, theme:api

#349 fix(playwright): do not throw if cannot copy attachment from given path
  packages/allure-playwright/package.json
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/attachment.spec.ts
Labels: type:bug, theme:playwright

#350 fix: support application/zip in typeToExtension
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/writers/utils.ts
Labels: type:improvement, theme:api
