Repository allure-framework/allure-js, pull requests merged in 2021-08, with the labels that each got.

#297 feat(allure-playwright): initial implementation for allure-playwright
  README.md
  packages/allure-playwright/.gitignore
  packages/allure-playwright/.npmignore
  packages/allure-playwright/LICENSE.txt
  packages/allure-playwright/README.md
  packages/allure-playwright/package.json
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/fixtures.ts
  packages/allure-playwright/test/labels.spec.ts
  packages/allure-playwright/test/status-details.spec.ts
  packages/allure-playwright/test/status.spec.ts
  packages/allure-playwright/test/stdio.spec.ts
  packages/allure-playwright/tsconfig.json
Labels: type:new feature

#325 Workflow updates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/labels-verify.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .gitignore
  .idea/icon.png
  .idea/vcs.xml
Labels: theme:workflow, type:internal

#327 Fix lerna
  package-lock.json
  package.json
  packages/allure-cucumberjs/package-lock.json
  packages/allure-cucumberjs/package.json
  packages/allure-decorators/package-lock.json
  packages/allure-decorators/package.json
  packages/allure-jasmine/package-lock.json
  packages/allure-jasmine/package.json
  packages/allure-jest/package-lock.json
  packages/allure-jest/package.json
  packages/allure-js-commons/package-lock.json
  packages/allure-mocha/package-lock.json
  packages/allure-mocha/package.json
  packages/allure-playwright/package-lock.json
  packages/allure-playwright/package.json
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:decorators, theme:build, theme:playwright, type:internal

#329 Fix playwright path attachments
  packages/allure-js-commons/src/AllureRuntime.ts
  packages/allure-js-commons/src/writers/AllureWriter.ts
  packages/allure-js-commons/src/writers/FileSystemAllureWriter.ts
  packages/allure-js-commons/src/writers/InMemoryAllureWriter.ts
  packages/allure-playwright/src/index.ts
Labels: type:bug, theme:api, theme:playwright

#337 Change minimum required Node version to 12
  .github/workflows/build.yml
Labels: type:improvement, theme:workflow
