Repository allure-framework/allure-js, pull requests merged in 2022-08, with the labels that each got.

#459 Add host and thread labels for cucumberjs (fixes #454)
  packages/allure-cucumberjs/package.json
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/allure_cucumberjs_test.ts
  yarn.lock
Labels: type:improvement, theme:cucumberjs

#474 Base fix for mocha parallel mode
  packages/allure-mocha/.eslintrc.js
  packages/allure-mocha/README.md
  packages/allure-mocha/runtime.d.ts
  packages/allure-mocha/runtime.js
  packages/allure-mocha/src/AllureReporter.ts
  packages/allure-mocha/src/MochaAllureReporter.ts
  packages/allure-mocha/test/runner.ts
  packages/allure-mocha/test/tsconfig.json
Labels: type:bug, theme:mocha

#478 chore(playwright) Readme improvements for screenshots, attachments, steps
  .github/release-drafter.yml
  .github/workflows/labels-verify.yml
  packages/allure-playwright/README.md
Labels: theme:workflow, theme:playwright, type:docs

#477 Add package label for mocha specs
  packages/allure-mocha/src/AllureReporter.ts
  packages/allure-mocha/test/fixtures/specs/package.ts
  packages/allure-mocha/test/specs/package.ts
Labels: type:bug, theme:mocha

#473 Add parameters to allure-playwright
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/Allure.ts
  packages/allure-js-commons/src/ExecutableItemWrapper.ts
  packages/allure-js-commons/src/model.ts
  packages/allure-playwright/src/helpers.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/parameters.spec.ts
Labels: theme:api, type:new feature, theme:playwright

#480 feat(playwright): add thread label and host labels
  packages/allure-playwright/src/index.ts
Labels: type:improvement, theme:playwright

#488 Support content-type 'text/html' for attachments
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/writers/utils.ts
Labels: type:improvement, theme:api
