Repository allure-framework/allure-js, pull requests merged in 2022-05, with the labels that each got.

#420 feat(playwright): allow to pass tags as array
  README.md
  packages/allure-playwright/README.md
  packages/allure-playwright/package.json
  packages/allure-playwright/src/helpers.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/tags.spec.ts
  yarn.lock
Labels: type:improvement, theme:playwright

#440 fix(mocha): add an additional check for missing reporterOptions
  packages/allure-mocha/src/MochaAllureReporter.ts
Labels: type:bug, theme:mocha

#441 test(playwright): fix ts-ignore and eslint warnings
  packages/allure-playwright/package.json
  packages/allure-playwright/test/fixtures.ts
  packages/allure-playwright/test/label.spec.ts
  packages/allure-playwright/test/labels.spec.ts
  packages/allure-playwright/test/link.spec.ts
  packages/allure-playwright/test/status.spec.ts
  packages/allure-playwright/test/stdio.spec.ts
  packages/allure-playwright/test/steps.spec.ts
  yarn.lock
Labels: theme:playwright, type:internal
