Repository allure-framework/allure-js, pull requests merged in 2022-12, with the labels that each got.

#544 fix(build): fix build error
  packages/allure-playwright/package.json
  yarn.lock
Labels: theme:playwright, type:internal

#542 feature(newman): add newman reporter
  packages/newman-reporter-allure/LICENSE.txt
  packages/newman-reporter-allure/README.md
  packages/newman-reporter-allure/jest.config.js
  packages/newman-reporter-allure/package.json
  packages/newman-reporter-allure/report-preview.png
  packages/newman-reporter-allure/src/helpers.ts
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/testops-preview.png
  packages/newman-reporter-allure/tests/helpers/runNewman.ts
  packages/newman-reporter-allure/tests/mocks/handlers.ts
  packages/newman-reporter-allure/tests/mocks/server.ts
  packages/newman-reporter-allure/tests/overview.test.ts
  packages/newman-reporter-allure/tsconfig.json
  yarn.lock
Labels: type:new feature, new-reporter

#548 fix(cucumberjs): attach a datable to the step
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/allure_cucumberjs_test.ts
Labels: type:improvement, theme:cucumberjs

#549 fix(cucumberjs): fix setup custom world
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/allure_cucumberjs_test.ts
Labels: type:bug, theme:cucumberjs

#547 fix(cucumberjs): grouping of retried tests
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/allure_cucumberjs_test.ts
Labels: type:bug, theme:cucumberjs

#554 fix(internal): fix packages meta
  README.md
  packages/allure-cucumberjs/package.json
  packages/allure-decorators/package.json
  packages/allure-jasmine/package.json
  packages/allure-jest/package.json
  packages/allure-js-commons/package.json
  packages/allure-mocha/package.json
  packages/allure-playwright/package.json
  packages/newman-reporter-allure/README.md
  packages/newman-reporter-allure/package.json
  packages/newman-reporter-allure/report-preview.jpg
  packages/newman-reporter-allure/report-preview.png
  packages/newman-reporter-allure/testops-preview.jpg
  packages/newman-reporter-allure/testops-preview.png
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:decorators, theme:playwright, type:internal

#553 chore(commons): delete mkdirp package
  packages/allure-js-commons/package.json
  packages/allure-js-commons/src/writers/FileSystemAllureWriter.ts
  packages/allure-js-commons/test/specs/FileSystemAllureWriter.spec.ts
  yarn.lock
Labels: theme:api, type:internal

#561 feature(commons): allure labels from env variables
  packages/allure-js-commons/README.md
  packages/allure-js-commons/src/AllureGroup.ts
  packages/allure-js-commons/src/utils.ts
  packages/allure-js-commons/test/specs/FileSystemAllureWriter.spec.ts
Labels: theme:api, type:new feature

#563 fix(playwright): fix historyId field
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/history.spec.ts
Labels: type:bug, theme:playwright
