Repository allure-framework/allure-js, pull requests merged in 2022-06, with the labels that each got.

#446 chore(playwright) Readme improvements
  packages/allure-playwright/README.md
Labels: theme:playwright, type:internal

#448 chore(playwright): new reporter options for Allure TestOps compatibility
  packages/allure-playwright/README.md
  packages/allure-playwright/package.json
  packages/allure-playwright/src/index.ts
  yarn.lock
Labels: type:improvement, theme:playwright

#453 update yarn to the latest stable version
  .github/workflows/build.yml
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: type:dependencies, theme:workflow, theme:build

#346 First draft of cucumberjs 8 integration
  packages/allure-cucumberjs/features/.eslintrc.js
  packages/allure-cucumberjs/features/.eslintrc.yml
  packages/allure-cucumberjs/features/background.feature
  packages/allure-cucumberjs/features/declarations/cucmber-cli.d.ts
  packages/allure-cucumberjs/features/description.feature
  packages/allure-cucumberjs/features/hooks.feature
  packages/allure-cucumberjs/features/label.feature
  packages/allure-cucumberjs/features/links.feature
  packages/allure-cucumberjs/features/status.feature
  packages/allure-cucumberjs/features/step_definitions/cucumber.steps.ts
  packages/allure-cucumberjs/features/step_definitions/dummy.steps.ts
  packages/allure-cucumberjs/features/step_definitions/file.steps.ts
  packages/allure-cucumberjs/features/step_definitions/report.steps.ts
  packages/allure-cucumberjs/features/support/chai-partial.ts
  packages/allure-cucumberjs/features/support/hooks.ts
  packages/allure-cucumberjs/features/support/report.ts
  packages/allure-cucumberjs/features/support/world.ts
  packages/allure-cucumberjs/package.json
  packages/allure-cucumberjs/src/CucumberAllureInterface.ts
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/src/events/Example.ts
  packages/allure-cucumberjs/src/events/GherkinDocument.ts
  packages/allure-cucumberjs/src/events/GherkinExample.ts
  packages/allure-cucumberjs/src/events/GherkinStep.ts
  packages/allure-cucumberjs/src/events/GherkinTestCase.ts
  packages/allure-cucumberjs/src/events/Result.ts
  packages/allure-cucumberjs/src/events/SourceLocation.ts
  packages/allure-cucumberjs/src/events/TestHookDefinition.ts
  packages/allure-cucumberjs/src/utilities.ts
  packages/allure-cucumberjs/test/helpers/formatter_helpers.ts
  packages/allure-cucumberjs/test/helpers/gherkin_helpers.ts
  packages/allure-cucumberjs/test/helpers/runtime_helpers.ts
  packages/allure-cucumberjs/test/runner.ts
  packages/allure-cucumberjs/test/specs/allure_cucumberjs_test.ts
  packages/allure-cucumberjs/test/tsconfig.json
  packages/allure-cucumberjs/tsconfig.json
  yarn.lock
Labels: type:new feature, theme:cucumberjs

#458 feat(cucumberjs): extract links and labels from tags
  packages/allure-cucumberjs/README.md
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/helpers/formatter_helpers.ts
  packages/allure-cucumberjs/test/specs/allure_cucumberjs_test.ts
Labels: type:improvement, theme:cucumberjs

#462 Ignore `.nyc-output` files
  .gitignore
Labels: theme:build, type:internal
