Repository allure-framework/allure-js, pull requests merged in 2023-12, with the labels that each got.

#819 feat(allure-jest): Add ability to assign custom names for any attachments (feat #801)
  packages/allure-jest/src/AllureJestApi.ts
  packages/allure-jest/test/fixtures/attachments.test.js
  packages/allure-jest/test/spec/attachments.test.ts
  packages/allure-js-commons/src/AllureTest.ts
Labels: theme:api, type:new feature, theme:jest

#818 Add readme header
  README.md
  packages/allure-codeceptjs/README.md
  packages/allure-cucumberjs/README.md
  packages/allure-decorators/README.md
  packages/allure-hermione/README.md
  packages/allure-jasmine/README.md
  packages/allure-jest/README.md
  packages/allure-js-commons/README.md
  packages/allure-mocha/README.md
  packages/allure-playwright/README.md
  packages/newman-reporter-allure/README.md
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:decorators, theme:playwright, theme:commons, type:docs, theme:newman, theme:codeceptjs

#823 Logo in readme files
  README.md
  packages/allure-codeceptjs/README.md
  packages/allure-cucumberjs/README.md
  packages/allure-decorators/README.md
  packages/allure-hermione/README.md
  packages/allure-jasmine/README.md
  packages/allure-jest/README.md
  packages/allure-js-commons/README.md
  packages/allure-mocha/README.md
  packages/allure-playwright/README.md
  packages/newman-reporter-allure/README.md
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:decorators, theme:playwright, type:internal, theme:newman, theme:codeceptjs
