Repository allure-framework/allure-js, pull requests merged in 2023-02, with the labels that each got.

#598 fix(newman): Fix critical newman description bug
  packages/newman-reporter-allure/src/index.ts
Labels: type:bug

#599 feature(cucumber): add `layer` and `id` helpers for cucumber
  packages/allure-cucumberjs/src/CucumberAllureWorld.ts
Labels: type:new feature, theme:cucumberjs

#597 feature(playwright): Add `categories` and `environmentInfo` support to playwright
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/categories.spec.ts
  packages/allure-playwright/test/environmentInfo.spec.ts
  packages/allure-playwright/test/fixtures.ts
Labels: type:new feature, theme:playwright

#595 fix(newman): fix step duration for passed steps
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/tests/overview.test.ts
Labels: type:bug, theme:newman

#602 chore(commons): delete deprecated `createStep` and `createAttachment` from commons
  packages/allure-js-commons/src/Allure.ts
Labels: theme:api, type:internal

#593 Hermione and cucumber custom steps
  package.json
  packages/allure-cucumberjs/src/CucumberAllureWorld.ts
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/allure_cucumberjs_test.ts
  packages/allure-cucumberjs/test/specs/attachments_test.ts
  packages/allure-cucumberjs/test/specs/data_table_and_examples_test.ts
  packages/allure-cucumberjs/test/specs/data_table_test.ts
  packages/allure-cucumberjs/test/specs/examples_test.ts
  packages/allure-cucumberjs/test/specs/simple_test.ts
  packages/allure-cucumberjs/test/specs/step_arguments_test.ts
  packages/allure-cucumberjs/test/specs/with_allure_world_constructor_test.ts
  packages/allure-cucumberjs/test/specs/with_anonymous_steps_test.ts
  packages/allure-cucumberjs/test/specs/with_arrow_steps_test.ts
  packages/allure-cucumberjs/test/specs/with_labels_test.ts
  packages/allure-cucumberjs/test/specs/with_links_test.ts
  packages/allure-cucumberjs/test/specs/with_tags_test.ts
  packages/allure-hermione/README.md
  packages/allure-hermione/src/index.ts
  packages/allure-hermione/test/fixtures/allureId.js
  packages/allure-hermione/test/fixtures/steps.js
  packages/allure-hermione/test/spec/attachments.test.ts
  packages/allure-hermione/test/spec/labels.test.ts
  packages/allure-hermione/test/spec/links.test.ts
  packages/allure-hermione/test/spec/parameters.test.ts
  packages/allure-hermione/test/spec/steps.test.ts
  packages/allure-hermione/test/types.ts
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/AllureCommandStep.ts
  packages/allure-js-commons/src/ExecutableItemWrapper.ts
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/utils.ts
  packages/allure-js-commons/test/specs/AllureCommandStep.spec.ts
  packages/allure-js-commons/test/specs/utils.spec.ts
  packages/allure-playwright/src/helpers.ts
  packages/allure-playwright/src/index.ts
Labels: theme:api, type:new feature, theme:cucumberjs, theme:build, theme:playwright, theme:hermione

#605 feature(playwright): Add selective launch for playwright
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/testplan.ts
  packages/allure-js-commons/src/utils.ts
  packages/allure-js-commons/test/specs/testPlan.spec.ts
  packages/allure-playwright/README.md
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/testplan.ts
  packages/allure-playwright/test/fixtures.ts
  packages/allure-playwright/test/history.spec.ts
  packages/allure-playwright/test/testplan.spec.ts
Labels: theme:api, type:new feature, theme:playwright

#606 docs(playwright): Add info about `environmentInfo` to the readme
  packages/allure-playwright/README.md
Labels: theme:playwright, type:docs

#607 feature(playwright): new imagediff
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/internal.ts
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/utils.ts
  packages/allure-playwright/README.md
  packages/allure-playwright/docs/screendiff.jpg
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/attachment.spec.ts
Labels: theme:api, type:new feature, theme:playwright

#594 chore(playwright): Refactor allure-playwright metadata helpers be the same across frameworks
  packages/allure-playwright/src/helpers.ts
  packages/allure-playwright/test/label.spec.ts
  packages/allure-playwright/test/link.spec.ts
  packages/allure-playwright/test/tags.spec.ts
Labels: type:improvement, theme:playwright

#612 fix(commons): fix parameters modes
  packages/allure-cucumberjs/README.md
  packages/allure-cucumberjs/src/CucumberAllureWorld.ts
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-hermione/README.md
  packages/allure-hermione/src/index.ts
  packages/allure-hermione/test/fixtures/parameter.js
  packages/allure-hermione/test/spec/parameters.test.ts
  packages/allure-js-commons/src/AllureCommandStep.ts
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/test/specs/AllureCommandStep.spec.ts
  packages/allure-mocha/README.md
  packages/allure-playwright/README.md
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/parameters.spec.ts
Labels: type:bug, theme:api, theme:mocha, theme:cucumberjs, theme:playwright

#610 chore(docs): update playwright readme after refactoring
  packages/allure-playwright/README.md
Labels: theme:playwright, type:docs

#613 chore(commons): change `AS_ID` label to `ALLURE_ID`
  packages/allure-cucumberjs/src/CucumberAllureWorld.ts
  packages/allure-hermione/src/index.ts
  packages/allure-hermione/test/spec/labels.test.ts
  packages/allure-js-commons/src/Allure.ts
  packages/allure-js-commons/src/model.ts
  packages/allure-playwright/src/helpers.ts
  packages/newman-reporter-allure/src/helpers.ts
  packages/newman-reporter-allure/tests/overview.test.ts
Labels: theme:api, theme:cucumberjs, theme:playwright, type:internal

#611 fix(playwright): report skipped results on global fail
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/global-fail.spec.ts
  packages/allure-playwright/test/skip.test.ts
Labels: type:bug, theme:playwright

#614 chore(internal): change package maintainers metadata
  packages/allure-cucumberjs/package.json
  packages/allure-decorators/package.json
  packages/allure-hermione/package.json
  packages/allure-jasmine/package.json
  packages/allure-jest/package.json
  packages/allure-js-commons/package.json
  packages/allure-mocha/package.json
  packages/allure-playwright/package.json
  packages/newman-reporter-allure/package.json
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:decorators, theme:playwright, type:internal

#615 docs(mocha): fix docs
  packages/allure-mocha/README.md
Labels: theme:mocha, type:docs

#585 misc(jest): update readme
  packages/allure-jest/README.md
Labels: theme:jest, type:docs

#617 Fix cucumber labels patterns for features
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/with_labels_test.ts
Labels: type:bug, theme:cucumberjs
