Repository allure-framework/allure-js, pull requests merged in 2023-03, with the labels that each got.

#620 add error notification when user try to use mocha reporter in paralle…
  packages/allure-mocha/README.md
  packages/allure-mocha/src/MochaAllureReporter.ts
  packages/allure-mocha/src/ParallelMochaAllure.ts
  packages/allure-mocha/test/fixtures/runners/parallel.ts
  packages/allure-mocha/test/fixtures/runners/singleThread.ts
  packages/allure-mocha/test/fixtures/specs/runtime.ts
  packages/allure-mocha/test/runner.ts
  packages/allure-mocha/test/specs/reporter.ts
Labels: type:bug, theme:mocha

#622 feature(codeceptjs): Add new reporter
  README.md
  packages/allure-codeceptjs/.gitignore
  packages/allure-codeceptjs/README.md
  packages/allure-codeceptjs/jest.config.js
  packages/allure-codeceptjs/package.json
  packages/allure-codeceptjs/src/codecept-types.ts
  packages/allure-codeceptjs/src/index.ts
  packages/allure-codeceptjs/test/attachments.test.ts
  packages/allure-codeceptjs/test/codecept-tags.test.ts
  packages/allure-codeceptjs/test/labels.test.ts
  packages/allure-codeceptjs/test/simple.test.ts
  packages/allure-codeceptjs/test/utils/default-codecept.config.js
  packages/allure-codeceptjs/test/utils/run-tests.ts
  packages/allure-codeceptjs/tsconfig.json
  packages/allure-codeceptjs/types.d.ts
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/ExecutableItemWrapper.ts
  packages/allure-js-commons/src/utils.ts
  packages/allure-playwright/src/index.ts
  yarn.lock
Labels: theme:api, type:new feature, theme:playwright

#626 chore(internal): add missing labels and add comments for inline code
  .github/labeler.yml
  packages/allure-codeceptjs/test/attachments.test.ts
  packages/allure-codeceptjs/test/codecept-tags.test.ts
  packages/allure-codeceptjs/test/labels.test.ts
  packages/allure-codeceptjs/test/simple.test.ts
  packages/allure-playwright/test/attachment.spec.ts
  packages/allure-playwright/test/categories.spec.ts
  packages/allure-playwright/test/environmentInfo.spec.ts
  packages/allure-playwright/test/global-fail.spec.ts
  packages/allure-playwright/test/history.spec.ts
  packages/allure-playwright/test/label.spec.ts
  packages/allure-playwright/test/labels.spec.ts
  packages/allure-playwright/test/link.spec.ts
  packages/allure-playwright/test/parameters.spec.ts
  packages/allure-playwright/test/skip.test.ts
  packages/allure-playwright/test/status-details.spec.ts
  packages/allure-playwright/test/status.spec.ts
  packages/allure-playwright/test/stdio.spec.ts
  packages/allure-playwright/test/steps.spec.ts
  packages/allure-playwright/test/tags.spec.ts
  packages/allure-playwright/test/testplan.spec.ts
Labels: theme:workflow, theme:playwright, type:internal

#627 chore(docs): fix commons readme
  AUTHORS
  packages/allure-jasmine/README.md
  packages/allure-js-commons/README.md
Labels: theme:api, theme:jasmine, type:docs

#540 chore(license): delete licenses from sub-packages
  packages/allure-cucumberjs/LICENSE.txt
  packages/allure-decorators/LICENSE.txt
  packages/allure-jasmine/LICENSE.txt
  packages/allure-jest/LICENSE.txt
  packages/allure-js-commons/LICENSE.txt
  packages/allure-mocha/LICENSE.txt
  packages/allure-playwright/LICENSE.txt
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:decorators, theme:playwright, type:internal

#629 fix(playwright): fix testplan to match regexp from start to end of string
  packages/allure-playwright/src/testplan.ts
  packages/allure-playwright/test/testplan.spec.ts
Labels: type:bug, theme:playwright

#632 feature(codeceptjs): feature to pass allure metadata through сodeceptjs tags
  packages/allure-codeceptjs/README.md
  packages/allure-codeceptjs/src/helpers.ts
  packages/allure-codeceptjs/src/index.ts
  packages/allure-codeceptjs/test/codecept-tags.test.ts
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/utils.ts
  packages/newman-reporter-allure/src/helpers.ts
Labels: theme:api, type:new feature, theme:newman, theme:codeceptjs

#640 fix(codeceptjs): fix codeceptjs import
  packages/allure-codeceptjs/src/index.ts
Labels: type:bug, theme:codeceptjs

#641 docs(codeceptjs): improve readme for easy copy/paste
  packages/allure-codeceptjs/README.md
Labels: type:docs, theme:codeceptjs
