Repository allure-framework/allure-js, pull requests merged in 2023-09, with the labels that each got.

#758 Change skipped tests handling logic
  packages/allure-hermione/src/index.ts
  packages/allure-hermione/test/fixtures/only.js
  packages/allure-hermione/test/spec/only.test.ts
Labels: type:bug, theme:hermione

#767 Make Playwright detail and suiteTitle options true by default (fixes #710)
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/attachment-steps.spec.ts
  packages/allure-playwright/test/reporter-options.spec.ts
  packages/allure-playwright/test/steps.spec.ts
Labels: type:bug, theme:playwright

#764 fix(allure-jest): support different jest environments
  packages/allure-codeceptjs/package.json
  packages/allure-codeceptjs/test/codecept-tags.test.ts
  packages/allure-codeceptjs/test/labels.test.ts
  packages/allure-hermione/.idea/vcs.xml
  packages/allure-hermione/.idea/workspace.xml
  packages/allure-jest/README.md
  packages/allure-jest/package.json
  packages/allure-jest/src/AllureJest.ts
  packages/allure-jest/src/AllureJestApi.ts
  packages/allure-jest/src/index.ts
  packages/allure-jest/src/jsdom.ts
  packages/allure-jest/src/node.ts
  packages/allure-jest/test/fixtures/dataTable.test.js
  packages/allure-jest/test/fixtures/duplicatedTests.test.js
  packages/allure-jest/test/jest.config.js
  packages/allure-jest/test/spec/dataTable.test.ts
  packages/allure-jest/test/spec/duplicatedTests.test.ts
  packages/allure-jest/test/utils.ts
  packages/allure-jest/tsconfig.json
  packages/allure-js-commons/package.json
  packages/allure-js-commons/src/AllureRuntime.ts
  packages/allure-js-commons/src/constructors.ts
  packages/newman-reporter-allure/package.json
  yarn.lock
Labels: type:bug, theme:api, theme:jest, theme:newman, theme:codeceptjs

#773 impr(playwright): disable reporting of attach steps
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/attachment-steps.spec.ts
Labels: type:improvement, theme:playwright

#774 impr(playwright): allow default suite labels override
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/label-override.spec.ts
Labels: type:improvement, theme:playwright

#777 fix(playwright): fix missed uuid dep
  packages/allure-playwright/src/helpers.ts
Labels: type:bug, theme:playwright

#783 Rm unused docs and deps
  package.json
  packages/allure-hermione/docs/development.md
  yarn.lock
Labels: theme:build, type:internal

#784 Minor refactoring of pw tests
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/testplan.ts
  packages/allure-playwright/src/testplan.ts
  packages/allure-playwright/test/attachment.spec.ts
  packages/allure-playwright/test/environmentInfo.spec.ts
  packages/allure-playwright/test/fixtures.ts
  packages/allure-playwright/test/label-override.spec.ts
  packages/allure-playwright/test/testplan.spec.ts
Labels: theme:api, theme:playwright, type:internal

#779 Add ability to configure jest reporter
  packages/allure-jest/README.md
  packages/allure-jest/src/AllureJest.ts
Labels: type:bug, theme:jest
