Repository allure-framework/allure-js, pull requests merged in 2023-04, with the labels that each got.

#659 Handle cucumber tests without implementation
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/undefined_step_defs_test.ts
Labels: type:bug, theme:cucumberjs

#662 Add support for content type video/mp4
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/writers/utils.ts
Labels: type:improvement, theme:api

#648 Added support for scoped tags
  packages/allure-js-commons/src/utils.ts
  packages/allure-js-commons/test/specs/utils.spec.ts
Labels: type:improvement, theme:api

#657 Pass original error from lambda-steps to the original test
  packages/allure-cucumberjs/src/CucumberAllureWorld.ts
  packages/allure-cucumberjs/test/specs/with_anonymous_steps_test.ts
  packages/allure-cucumberjs/test/specs/with_arrow_steps_test.ts
  packages/allure-hermione/package.json
  packages/allure-hermione/src/index.ts
  packages/allure-hermione/src/utils.ts
  packages/allure-hermione/test/.hermione.conf.js
  packages/allure-hermione/test/fixtures/failedSteps.js
  packages/allure-hermione/test/fixtures/passedSteps.js
  packages/allure-hermione/test/runner.ts
  packages/allure-hermione/test/spec/steps.test.ts
  packages/allure-js-commons/src/AllureCommandStep.ts
  packages/allure-js-commons/test/specs/AllureCommandStep.spec.ts
  yarn.lock
Labels: type:bug, theme:api, theme:cucumberjs, theme:hermione

#666 Fix cucumberjs exception formatter
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/exception_formatter_test.ts
Labels: type:bug, theme:cucumberjs

#670 Fix breaking change introduced in 2.2.0
  packages/allure-js-commons/src/AllureCommandStep.ts
  packages/allure-js-commons/test/specs/AllureCommandStep.spec.ts
Labels: type:bug, theme:api

#669 Update README.md
  README.md
Labels: type:docs
