Repository allure-framework/allure-js, pull requests merged in 2023-11, with the labels that each got.

#805 Enchance jest runtime links
  packages/allure-jest/README.md
  packages/allure-jest/src/AllureJest.ts
  packages/allure-jest/src/AllureJestApi.ts
  packages/allure-jest/test/fixtures/links.test.js
  packages/allure-jest/test/jest.config.js
  packages/allure-jest/test/spec/links.test.ts
Labels: type:bug, theme:jest

#810 Fix jest todo tests problem and add package label
  .pnp.cjs
  packages/allure-jest/package.json
  packages/allure-jest/src/AllureJest.ts
  packages/allure-jest/test/fixtures/labels.test.js
  packages/allure-jest/test/runner.ts
  packages/allure-jest/test/spec/ansiColors.test.ts
  packages/allure-jest/test/spec/attachments.test.ts
  packages/allure-jest/test/spec/dataTable.test.ts
  packages/allure-jest/test/spec/description.test.ts
  packages/allure-jest/test/spec/duplicatedTests.test.ts
  packages/allure-jest/test/spec/historyId.test.ts
  packages/allure-jest/test/spec/labels.test.ts
  packages/allure-jest/test/spec/links.test.ts
  packages/allure-jest/test/spec/parameters.test.ts
  packages/allure-jest/test/spec/skipped.test.ts
  packages/allure-jest/test/spec/steps.test.ts
  packages/allure-jest/test/spec/testCaseId.test.ts
  packages/allure-jest/test/spec/todo.test.ts
  yarn.lock
Labels: type:bug, theme:jest

#806 (fix): Mark test as broken when a request error occurs
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/test/mocks/handlers.ts
  packages/newman-reporter-allure/test/specs/requestError.ts
Labels: type:bug, theme:newman

#813 Fix playwright readme typo
  packages/allure-playwright/README.md
Labels: type:bug, theme:playwright

#785 Add request&response headers, error messages & stacktrace to newman-allure
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/test/mocks/handlers.ts
  packages/newman-reporter-allure/test/specs/errorMessage.ts
  packages/newman-reporter-allure/test/specs/headers.ts
  packages/newman-reporter-allure/test/specs/requestError.ts
  packages/newman-reporter-allure/test/specs/syntaxError.ts
Labels: type:new feature, theme:newman
