Repository allure-framework/allure-js, pull requests merged in 2023-01, with the labels that each got.

#566 chore(cucumberjs): cleanup deps
  packages/allure-cucumberjs/package.json
  yarn.lock
Labels: theme:cucumberjs, type:dependencies

#570 chore(deps): delete unused dotenv from package.json
  packages/allure-decorators/package.json
  packages/allure-mocha/package.json
  yarn.lock
Labels: theme:mocha, type:dependencies, theme:decorators

#557 Add hermione basic report
  README.md
  packages/allure-hermione/README.md
  packages/allure-hermione/package.json
  packages/allure-hermione/src/index.ts
  packages/allure-hermione/test/.hermione.conf.js
  packages/allure-hermione/test/fixtures/attachments.js
  packages/allure-hermione/test/fixtures/epic.js
  packages/allure-hermione/test/fixtures/feature.js
  packages/allure-hermione/test/fixtures/issue.js
  packages/allure-hermione/test/fixtures/label.js
  packages/allure-hermione/test/fixtures/link.js
  packages/allure-hermione/test/fixtures/owner.js
  packages/allure-hermione/test/fixtures/parameter.js
  packages/allure-hermione/test/fixtures/parentSuite.js
  packages/allure-hermione/test/fixtures/severity.js
  packages/allure-hermione/test/fixtures/story.js
  packages/allure-hermione/test/fixtures/subSuite.js
  packages/allure-hermione/test/fixtures/suite.js
  packages/allure-hermione/test/fixtures/tag.js
  packages/allure-hermione/test/fixtures/tms.js
  packages/allure-hermione/test/runner.ts
  packages/allure-hermione/test/spec/attachments.test.ts
  packages/allure-hermione/test/spec/labels.test.ts
  packages/allure-hermione/test/spec/links.test.ts
  packages/allure-hermione/test/spec/parameters.test.ts
  packages/allure-hermione/tsconfig.json
  packages/allure-js-commons/src/AllureRuntime.ts
  yarn.lock
Labels: theme:api, type:new feature

#576 feature(playwright): add layer helper
  packages/allure-js-commons/src/model.ts
  packages/allure-playwright/src/helpers.ts
Labels: theme:api, type:new feature, theme:playwright

#580 fix(playwright): fix multiple stout and stderr
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/stdio.spec.ts
Labels: type:bug, theme:playwright

#584 chore(docs): Add parameter examples and docs to readme
  packages/allure-cucumberjs/README.md
  packages/allure-mocha/README.md
  packages/allure-playwright/README.md
Labels: theme:mocha, theme:cucumberjs, theme:playwright, type:docs

#582 fix(playwright): Strip ansii colors from stdout and stderr
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/stdio.spec.ts
Labels: type:bug, theme:playwright

#583 fix(playwright): fix timeline threads for playwright
  packages/allure-playwright/package.json
  packages/allure-playwright/src/index.ts
  yarn.lock
Labels: type:bug, theme:playwright

#586 fix(newman): Fix messages escape
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/tests/errorMessage.test.ts
Labels: type:bug

#579 fix(jasmine): fix global afterAll, beforeAll usages and support `@testing-library/react`
  packages/allure-jasmine/src/JasmineAllureReporter.ts
  packages/allure-jasmine/test/simple-fixtures.test.ts
Labels: type:bug, theme:jasmine
