Repository allure-framework/allure-js, pull requests merged in 2023-05, with the labels that each got.

#672 Add util to classify test errors
  packages/allure-js-commons/package.json
  packages/allure-js-commons/src/utils.ts
  packages/allure-js-commons/test/specs/utils.spec.ts
  yarn.lock
Labels: type:improvement, theme:api, theme:commons

#635 feature(playwright): allow passing metadata from playwright test titles
  packages/allure-playwright/README.md
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/utils.ts
  packages/allure-playwright/test/title-metadata.spec.ts
Labels: type:new feature, theme:playwright

#675 add correct test id generation for hermione reporter
  packages/allure-hermione/src/index.ts
Labels: type:bug, theme:hermione

#677 Cache hermione browsers
  .github/workflows/build.yml
  packages/allure-hermione/test/.hermione.conf.js
  packages/allure-hermione/test/runner.ts
Labels: theme:workflow, type:internal

#679 Support more attachment content types
  packages/allure-js-commons/src/AllureRuntime.ts
  packages/allure-js-commons/src/writers/utils.ts
  packages/allure-js-commons/test/specs/utils.spec.ts
Labels: type:improvement, theme:api

#676 Improve Playwright integration
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/AllureTest.ts
  packages/allure-js-commons/src/properties.d.ts
  packages/allure-js-commons/src/writers/InMemoryAllureWriter.ts
  packages/allure-js-commons/src/writers/MessageAllureWriter.ts
  packages/allure-js-commons/src/writers/index.ts
  packages/allure-playwright/.gitignore
  packages/allure-playwright/package.json
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/attachment.spec.ts
  packages/allure-playwright/test/categories.spec.ts
  packages/allure-playwright/test/environmentInfo.spec.ts
  packages/allure-playwright/test/fixtures.ts
  packages/allure-playwright/test/global-fail.spec.ts
  packages/allure-playwright/test/history.spec.ts
  packages/allure-playwright/test/label.spec.ts
  packages/allure-playwright/test/labels.spec.ts
  packages/allure-playwright/test/link.spec.ts
  packages/allure-playwright/test/parameters.spec.ts
  packages/allure-playwright/test/playwright.config.ts
  packages/allure-playwright/test/skip.test.ts
  packages/allure-playwright/test/status-details.spec.ts
  packages/allure-playwright/test/status.spec.ts
  packages/allure-playwright/test/stdio.spec.ts
  packages/allure-playwright/test/steps.spec.ts
  packages/allure-playwright/test/tags.spec.ts
  packages/allure-playwright/test/testplan.spec.ts
  packages/allure-playwright/test/title-metadata.spec.ts
  yarn.lock
Labels: type:improvement, theme:api, theme:playwright

#684 Fix hermione repeat error
  packages/allure-hermione/docs/development.md
  packages/allure-hermione/package.json
  packages/allure-hermione/src/index.ts
  packages/allure-hermione/test/.hermione.conf.js
  packages/allure-hermione/test/runner.ts
  yarn.lock
Labels: type:bug, theme:hermione

#690 Bump @playwright/test from 1.30.0 to 1.34.1
  packages/allure-playwright/package.json
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/testplan.ts
  packages/allure-playwright/test/fixtures.ts
  packages/allure-playwright/test/global-fail.spec.ts
  packages/allure-playwright/test/steps.spec.ts
  yarn.lock
Labels: type:dependencies, theme:playwright

#689 fix(cucumberjs): support steps' attachments
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/attachments_test.ts
Labels: type:bug, theme:cucumberjs
