Repository allure-framework/allure-js, pull requests merged in 2023-08, with the labels that each got.

#730 Add ability to get current allure api for mocha when config is provided
  packages/allure-decorators/test/fixtures/specs/baseTest.ts
  packages/allure-mocha/README.md
  packages/allure-mocha/runtime.d.ts
  packages/allure-mocha/runtime.js
  packages/allure-mocha/src/MochaAllureGateway.ts
  packages/allure-mocha/src/MochaAllureReporter.ts
  packages/allure-mocha/src/ParallelMochaAllure.ts
Labels: type:bug, theme:mocha, theme:decorators

#737 Enable cross-browser testing in Cucumber reporter
  packages/allure-cucumberjs/README.md
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/simple_test.ts
Labels: type:bug, theme:cucumberjs

#671 Allow any values to be passed as parameter value
  packages/allure-codeceptjs/src/index.ts
  packages/allure-cucumberjs/src/CucumberAllureWorld.ts
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-hermione/src/index.ts
  packages/allure-hermione/src/utils.ts
  packages/allure-jasmine/src/JasmineAllureReporter.ts
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/Allure.ts
  packages/allure-js-commons/src/AllureCommandStep.ts
  packages/allure-js-commons/src/ExecutableItemWrapper.ts
  packages/allure-js-commons/src/utils.ts
  packages/allure-js-commons/test/specs/AllureCommandStep.spec.ts
  packages/allure-js-commons/test/specs/utils.spec.ts
  packages/allure-mocha/README.md
  packages/allure-playwright/README.md
  packages/allure-playwright/src/helpers.ts
  packages/allure-playwright/src/index.ts
  packages/newman-reporter-allure/src/index.ts
Labels: type:improvement, theme:api, theme:mocha, theme:cucumberjs, theme:jasmine, theme:playwright, theme:newman, theme:codeceptjs

#748 History ID and metadata processing improvements
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-hermione/src/index.ts
  packages/allure-hermione/src/utils.ts
  packages/allure-hermione/test/fixtures/historyId.js
  packages/allure-hermione/test/fixtures/testCaseId.js
  packages/allure-hermione/test/spec/historyId.test.ts
  packages/allure-hermione/test/spec/steps.test.ts
  packages/allure-hermione/test/spec/testCaseId.test.ts
  packages/allure-js-commons/src/AllureTest.ts
  packages/allure-js-commons/src/model.ts
Labels: type:bug, theme:api, theme:cucumberjs, theme:hermione

#751 fix(cucumber): add support for rule keyword
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/with_labels_test.ts
  packages/allure-cucumberjs/test/specs/with_links_test.ts
Labels: type:bug, theme:cucumberjs

#756 Add test as proof of feature wide cucumber labels
  packages/allure-cucumberjs/package.json
  packages/allure-cucumberjs/test/runner.ts
  packages/allure-cucumberjs/test/specs/step_arguments_test.ts
  packages/allure-cucumberjs/test/specs/with_labels_test.ts
  yarn.lock
Labels: theme:cucumberjs, type:internal

#752 Jest circus integration
  README.md
  packages/allure-cucumberjs/package.json
  packages/allure-hermione/package.json
  packages/allure-hermione/test/runner.ts
  packages/allure-hermione/tsconfig.json
  packages/allure-jasmine/README.md
  packages/allure-jest/.eslintrc.js
  packages/allure-jest/README.md
  packages/allure-jest/package.json
  packages/allure-jest/src/AllureJest.ts
  packages/allure-jest/src/AllureJestApi.ts
  packages/allure-jest/src/index.ts
  packages/allure-jest/src/utils.ts
  packages/allure-jest/test/default-runner/allure-report.ts
  packages/allure-jest/test/default-runner/jest.config.js
  packages/allure-jest/test/default-runner/simple.test.ts
  packages/allure-jest/test/fixtures/attachments.test.js
  packages/allure-jest/test/fixtures/description.test.js
  packages/allure-jest/test/fixtures/historyId.test.js
  packages/allure-jest/test/fixtures/labels.test.js
  packages/allure-jest/test/fixtures/links.test.js
  packages/allure-jest/test/fixtures/parameters.test.js
  packages/allure-jest/test/fixtures/skipped.test.js
  packages/allure-jest/test/fixtures/steps.test.js
  packages/allure-jest/test/fixtures/testCaseId.test.js
  packages/allure-jest/test/fixtures/todo.test.js
  packages/allure-jest/test/jest.config.js
  packages/allure-jest/test/runner.ts
  packages/allure-jest/test/spec/attachments.test.ts
  packages/allure-jest/test/spec/description.test.ts
  packages/allure-jest/test/spec/historyId.test.ts
  packages/allure-jest/test/spec/labels.test.ts
  packages/allure-jest/test/spec/links.test.ts
  packages/allure-jest/test/spec/parameters.test.ts
  packages/allure-jest/test/spec/skipped.test.ts
  packages/allure-jest/test/spec/steps.test.ts
  packages/allure-jest/test/spec/testCaseId.test.ts
  packages/allure-jest/test/spec/todo.test.ts
  packages/allure-jest/test/utils.ts
  packages/allure-jest/tsconfig.json
  packages/allure-js-commons/.eslintrc.js
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/Allure.ts
  packages/allure-js-commons/src/framework/index.ts
  yarn.lock
Labels: theme:api, type:new feature, theme:jest, theme:cucumberjs, theme:jasmine, new-reporter

#744 fix(playwright): Delete metadata from test name
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/src/utils.ts
  packages/allure-playwright/README.md
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/utils.ts
  packages/allure-playwright/test/testplan.spec.ts
  packages/allure-playwright/test/title-metadata.spec.ts
Labels: type:bug, theme:api, theme:playwright

#754 Add better description handler for cucumber features
  packages/allure-cucumberjs/src/CucumberJSAllureReporter.ts
  packages/allure-cucumberjs/test/specs/description_test.ts
Labels: type:bug, theme:cucumberjs

#762 Update hermione dependencies to make tests pass
  .github/workflows/build.yml
  packages/allure-hermione/package.json
  yarn.lock
Labels: theme:workflow, type:internal, theme:hermione

#761 Include suite name in Playwright testCaseId md5 hash (fixes #732)
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/history.spec.ts
Labels: type:bug, theme:playwright
