Repository allure-framework/allure-js, pull requests merged in 2023-10, with the labels that each got.

#790 Fix Allure global labels from env variables
  .pnp.cjs
  packages/allure-js-commons/package.json
  packages/allure-js-commons/src/AllureGroup.ts
  packages/allure-js-commons/src/AllureTest.ts
  packages/allure-js-commons/test/specs/AllureTest.spec.ts
  yarn.lock
Labels: type:bug, theme:api, theme:commons

#791 Fix Allure Jest configuration
  packages/allure-jest/src/AllureJest.ts
Labels: type:bug, theme:jest

#798 Remove ANSI color codes from jest test results
  packages/allure-jest/src/AllureJest.ts
  packages/allure-jest/src/utils.ts
  packages/allure-jest/test/fixtures/ansiColors.test.js
  packages/allure-jest/test/spec/ansiColors.test.ts
Labels: type:bug, theme:jest

#793 docs(newman-reporter-allure): fix typo in readme
  packages/newman-reporter-allure/README.md
Labels: type:improvement, theme:newman

#789 Change hermione skipped tests logic
  packages/allure-hermione/src/index.ts
Labels: type:bug, theme:hermione
