Repository allure-framework/allure-js, pull requests merged in 2024-03, with the labels that each got.

#901 [Vitest] Use actual test duration
  packages/allure-vitest/src/reporter.ts
Labels: type:bug, theme:vitest

#903 Update readme
  README.md
Labels: theme:jest, theme:jasmine, type:docs

#910 Build using node@18
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: type:dependencies, theme:workflow

#914 fix: fix stepFn use this.parameter('xx', 'xx') do not work。
  packages/allure-js-commons/src/current/AllureCommandStep.ts
  packages/allure-js-commons/test/specs/AllureCommandStep.spec.ts
Labels: type:bug, theme:api
