Repository allure-framework/allure-js, pull requests merged in 2024-01, with the labels that each got.

#828 Add tests for playwright hooks
  packages/allure-playwright/test/hooks.spec.ts
Labels: type:bug, theme:playwright

#825 Add history ID for jest tests
  packages/allure-jest/src/AllureJest.ts
Labels: type:bug, theme:jest

#824 Change plain logos in the README files into URLs
  README.md
  packages/allure-codeceptjs/README.md
  packages/allure-cucumberjs/README.md
  packages/allure-decorators/README.md
  packages/allure-hermione/README.md
  packages/allure-jasmine/README.md
  packages/allure-jest/README.md
  packages/allure-js-commons/README.md
  packages/allure-mocha/README.md
  packages/allure-playwright/README.md
  packages/newman-reporter-allure/README.md
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:decorators, theme:playwright, type:internal, theme:newman, theme:codeceptjs

#827 Add homepages for npm
  packages/allure-codeceptjs/package.json
  packages/allure-cucumberjs/package.json
  packages/allure-decorators/package.json
  packages/allure-hermione/package.json
  packages/allure-jasmine/package.json
  packages/allure-jest/package.json
  packages/allure-js-commons/package.json
  packages/allure-mocha/package.json
  packages/allure-playwright/package.json
  packages/newman-reporter-allure/package.json
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:decorators, theme:playwright, type:docs, theme:newman, theme:codeceptjs

#833 Drop Node 14
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
Labels: type:dependencies, theme:workflow, theme:build

#835 Remove deprecated rmdir function usage
  packages/allure-vitest/test/utils.ts
Labels: type:internal

#837 Add vitest entry point to the root readme file
  README.md
Labels: type:docs, theme:vitest

#834 Workflow updates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/release-draft.yml
  .github/workflows/release.yml
  LICENSE
Labels: theme:workflow, type:internal

#840 Cleanup package.json
  packages/allure-hermione/package.json
  packages/allure-jest/package.json
Labels: theme:jest, type:internal

#845 Fix vitest files resolving
  packages/allure-vitest/README.md
  packages/allure-vitest/package.json
  packages/allure-vitest/src/index.ts
  packages/allure-vitest/src/setup.ts
  packages/allure-vitest/test/spec/setup/attachments.test.ts
  packages/allure-vitest/test/spec/setup/description.test.ts
  packages/allure-vitest/test/spec/setup/displayName.test.ts
  packages/allure-vitest/test/spec/setup/historyId.test.ts
  packages/allure-vitest/test/spec/setup/labels.test.ts
  packages/allure-vitest/test/spec/setup/links.test.ts
  packages/allure-vitest/test/spec/setup/parameters.test.ts
  packages/allure-vitest/test/spec/setup/steps.test.ts
  packages/allure-vitest/test/spec/setup/testCaseId.test.ts
  packages/allure-vitest/test/utils.ts
  packages/allure-vitest/tsconfig.json
  packages/allure-vitest/vitest.config.ts
Labels: type:bug, theme:vitest
