Repository allure-framework/allure-js, pull requests merged in 2024-05, with the labels that each got.

#944 Global test runtime initializer
  .pnp.cjs
  .yarnrc.yml
  packages/allure-js-commons/src/TestRuntime.ts
  packages/allure-playwright/package.json
  packages/allure-playwright/src/autoconfig.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/reporter.ts
  packages/allure-playwright/src/runtime.ts
  packages/allure-playwright/test/spec/attachment.spec.ts
  packages/allure-playwright/test/spec/categories.spec.ts
  packages/allure-playwright/test/spec/environmentInfo.spec.ts
  packages/allure-playwright/test/spec/history.spec.ts
  packages/allure-playwright/test/spec/hooks.spec.ts
  packages/allure-playwright/test/spec/labelOverride.spec.ts
  packages/allure-playwright/test/spec/labels.spec.ts
  packages/allure-playwright/test/spec/links.spec.ts
  packages/allure-playwright/test/spec/parameters.spec.ts
  packages/allure-playwright/test/spec/reporterOptions.spec.ts
  packages/allure-playwright/test/spec/skip.test.ts
  packages/allure-playwright/test/spec/status.spec.ts
  packages/allure-playwright/test/spec/statusDetails.spec.ts
  packages/allure-playwright/test/spec/stdio.spec.ts
  packages/allure-playwright/test/spec/steps.spec.ts
  packages/allure-playwright/test/spec/tags.spec.ts
  packages/allure-playwright/test/spec/testplan.spec.ts
  packages/allure-playwright/test/spec/titleMetadata.spec.ts
  packages/allure-playwright/test/utils.ts
  packages/allure-vitest/package.json
  packages/allure-vitest/src/autoconfig.ts
  packages/allure-vitest/src/runtime.ts
  packages/allure-vitest/src/setup.ts
  packages/allure-vitest/src/utils.ts
  yarn.lock
Labels: theme:api, theme:playwright, type:internal, theme:vitest

#951 Disable yarn parallel build
  package.json
Labels: theme:build, type:internal

#953 Back compatibility with old style cypress runtime API
  packages/allure-cypress/README.md
  packages/allure-cypress/src/index.ts
  packages/allure-cypress/src/utils.ts
  packages/allure-cypress/test/spec/runtime/legacy/attachments.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/description.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/displayName.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/historyId.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/labels.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/links.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/parameters.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/steps.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/testCaseId.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/titleMetadata.test.ts
  packages/allure-cypress/test/spec/runtime/modern/attachments.test.ts
  packages/allure-cypress/test/spec/runtime/modern/description.test.ts
  packages/allure-cypress/test/spec/runtime/modern/displayName.test.ts
  packages/allure-cypress/test/spec/runtime/modern/historyId.test.ts
  packages/allure-cypress/test/spec/runtime/modern/labels.test.ts
  packages/allure-cypress/test/spec/runtime/modern/links.test.ts
  packages/allure-cypress/test/spec/runtime/modern/parameters.test.ts
  packages/allure-cypress/test/spec/runtime/modern/steps.test.ts
  packages/allure-cypress/test/spec/runtime/modern/testCaseId.test.ts
  packages/allure-cypress/test/spec/runtime/modern/titleMetadata.test.ts
  packages/allure-cypress/test/utils.ts
Labels: type:new feature, theme:cypress

#947 Back compatibility with old style codeceptjs runtime API
  .pnp.cjs
  .yarn/cache/mocha-npm-10.4.0-9c45b5940e-0147b2a86c.zip
  packages/allure-codeceptjs/README.md
  packages/allure-codeceptjs/package.json
  packages/allure-codeceptjs/src/index.ts
  packages/allure-codeceptjs/src/model.ts
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/src/runtime.ts
  packages/allure-codeceptjs/test/spec/hooks.test.ts
  packages/allure-codeceptjs/test/spec/retries.test.ts
  packages/allure-codeceptjs/test/spec/runtime/legacy/attachments.test.ts
  packages/allure-codeceptjs/test/spec/runtime/legacy/labels.test.ts
  packages/allure-codeceptjs/test/spec/runtime/legacy/links.test.ts
  packages/allure-codeceptjs/test/spec/runtime/legacy/parameters.test.ts
  packages/allure-codeceptjs/test/spec/runtime/legacy/steps.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/attachments.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/labels.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/links.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/parameters.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/steps.test.ts
  packages/allure-codeceptjs/test/spec/simple.test.ts
  packages/allure-codeceptjs/test/spec/skipped.test.ts
  packages/allure-codeceptjs/test/spec/tags.test.ts
  packages/allure-codeceptjs/test/spec/titleMetadata.test.ts
  packages/allure-codeceptjs/test/utils.ts
  yarn.lock
Labels: type:improvement, theme:codeceptjs

#952 Back compatibility with old style cucumberjs runtime API
  packages/allure-cucumberjs/README.md
  packages/allure-cucumberjs/src/index.ts
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/src/runtime.ts
  packages/allure-cucumberjs/test/fixtures/support/runtime/legacy/description.cjs
  packages/allure-cucumberjs/test/fixtures/support/runtime/legacy/labels.cjs
  packages/allure-cucumberjs/test/fixtures/support/runtime/legacy/links.cjs
  packages/allure-cucumberjs/test/fixtures/support/runtime/legacy/steps.cjs
  packages/allure-cucumberjs/test/fixtures/support/runtime/modern/description.cjs
  packages/allure-cucumberjs/test/fixtures/support/runtime/modern/labels.cjs
  packages/allure-cucumberjs/test/fixtures/support/runtime/modern/links.cjs
  packages/allure-cucumberjs/test/fixtures/support/runtime/modern/steps.cjs
  packages/allure-cucumberjs/test/spec/runtime/legacy/description.test.ts
  packages/allure-cucumberjs/test/spec/runtime/legacy/labels.test.ts
  packages/allure-cucumberjs/test/spec/runtime/legacy/links.test.ts
  packages/allure-cucumberjs/test/spec/runtime/legacy/steps.test.ts
  packages/allure-cucumberjs/test/spec/runtime/modern/description.test.ts
  packages/allure-cucumberjs/test/spec/runtime/modern/labels.test.ts
  packages/allure-cucumberjs/test/spec/runtime/modern/links.test.ts
  packages/allure-cucumberjs/test/spec/runtime/modern/steps.test.ts
  packages/allure-cucumberjs/test/utils.ts
  packages/allure-cucumberjs/vitest.config.ts
Labels: type:new feature, theme:cucumberjs

#943 Small fix for cypress inner types import
  packages/allure-cypress/src/model.ts
Labels: type:bug, theme:cypress

#954 Back compatibility with old style jasmine runtime API
  packages/allure-jasmine/README.md
  packages/allure-jasmine/src/JasmineAllureReporter.ts
  packages/allure-jasmine/src/index.ts
  packages/allure-jasmine/test/fixtures/spec/helpers/legacy/allure.cjs
  packages/allure-jasmine/test/fixtures/spec/helpers/modern/allure.cjs
  packages/allure-jasmine/test/fixtures/spec/support/jasmine.json
  packages/allure-jasmine/test/spec/runtime/legacy/attachments.test.ts
  packages/allure-jasmine/test/spec/runtime/legacy/description.test.ts
  packages/allure-jasmine/test/spec/runtime/legacy/historyId.test.ts
  packages/allure-jasmine/test/spec/runtime/legacy/labels.test.ts
  packages/allure-jasmine/test/spec/runtime/legacy/links.test.ts
  packages/allure-jasmine/test/spec/runtime/legacy/parameters.test.ts
  packages/allure-jasmine/test/spec/runtime/legacy/steps.test.ts
  packages/allure-jasmine/test/spec/runtime/legacy/testCaseId.test.ts
  packages/allure-jasmine/test/spec/runtime/modern/attachments.test.ts
  packages/allure-jasmine/test/spec/runtime/modern/description.test.ts
  packages/allure-jasmine/test/spec/runtime/modern/historyId.test.ts
  packages/allure-jasmine/test/spec/runtime/modern/labels.test.ts
  packages/allure-jasmine/test/spec/runtime/modern/links.test.ts
  packages/allure-jasmine/test/spec/runtime/modern/parameters.test.ts
  packages/allure-jasmine/test/spec/runtime/modern/steps.test.ts
  packages/allure-jasmine/test/spec/runtime/modern/testCaseId.test.ts
  packages/allure-jasmine/test/spec/simple.test.ts
  packages/allure-jasmine/test/utils.ts
Labels: type:new feature, theme:jasmine, theme:cypress

#955 Back compatibility with old style jest runtime API
  packages/allure-jest/README.md
  packages/allure-jest/src/index.ts
  packages/allure-jest/src/model.ts
  packages/allure-jest/test/spec/runtime/legacy/attachments.test.ts
  packages/allure-jest/test/spec/runtime/legacy/description.test.ts
  packages/allure-jest/test/spec/runtime/legacy/historyId.test.ts
  packages/allure-jest/test/spec/runtime/legacy/labels.test.ts
  packages/allure-jest/test/spec/runtime/legacy/links.test.ts
  packages/allure-jest/test/spec/runtime/legacy/parameters.test.ts
  packages/allure-jest/test/spec/runtime/legacy/steps.test.ts
  packages/allure-jest/test/spec/runtime/legacy/testCaseId.test.ts
  packages/allure-jest/test/spec/runtime/modern/attachments.test.ts
  packages/allure-jest/test/spec/runtime/modern/description.test.ts
  packages/allure-jest/test/spec/runtime/modern/historyId.test.ts
  packages/allure-jest/test/spec/runtime/modern/labels.test.ts
  packages/allure-jest/test/spec/runtime/modern/links.test.ts
  packages/allure-jest/test/spec/runtime/modern/parameters.test.ts
  packages/allure-jest/test/spec/runtime/modern/steps.test.ts
  packages/allure-jest/test/spec/runtime/modern/testCaseId.test.ts
Labels: type:new feature, theme:jest

#959 Remove hermione from docs
  .github/labeler.yml
  README.md
Labels: theme:workflow, theme:commons, type:docs

#960 Bump newman
  .yarnrc.yml
  packages/newman-reporter-allure/package.json
  yarn.lock
Labels: type:dependencies, theme:newman

#958 Back compatibility with old style playwright runtime API
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/attachments.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/attachments.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/labelOverride.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/labels.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/links.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/parameters.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/steps.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/tags.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/attachments.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/labelOverride.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/labels.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/links.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/parameters.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/steps.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/tags.spec.ts
  packages/allure-playwright/test/spec/suites.spec.ts
Labels: type:new feature, theme:playwright

#966 Back compatibility with old style vitest runtime API
  packages/allure-vitest/README.md
  packages/allure-vitest/src/setup.ts
  packages/allure-vitest/test/spec/runtime/legacy/attachments.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/description.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/displayName.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/historyId.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/labels.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/links.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/parameters.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/steps.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/testCaseId.test.ts
  packages/allure-vitest/test/spec/runtime/modern/attachments.test.ts
  packages/allure-vitest/test/spec/runtime/modern/description.test.ts
  packages/allure-vitest/test/spec/runtime/modern/displayName.test.ts
  packages/allure-vitest/test/spec/runtime/modern/historyId.test.ts
  packages/allure-vitest/test/spec/runtime/modern/labels.test.ts
  packages/allure-vitest/test/spec/runtime/modern/links.test.ts
  packages/allure-vitest/test/spec/runtime/modern/parameters.test.ts
  packages/allure-vitest/test/spec/runtime/modern/steps.test.ts
  packages/allure-vitest/test/spec/runtime/modern/testCaseId.test.ts
  packages/allure-vitest/test/spec/simple.test.ts
Labels: type:new feature, theme:vitest

#965 Use cjs for yarn ci plugin
  .yarnrc.yml
  plugin-ci-version.cjs
Labels: type:internal

#968 Links patterns API
  packages/allure-codeceptjs/README.md
  packages/allure-cucumberjs/README.md
  packages/allure-jest/README.md
  packages/allure-playwright/README.md
  packages/allure-vitest/README.md
Labels: type:new feature, theme:jest, theme:cucumberjs, theme:playwright, theme:codeceptjs, theme:vitest

#967 Compatibility with Mocha's parallel mode
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/sdk/Config.ts
  packages/allure-js-commons/src/sdk/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/node/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/utils.ts
  packages/allure-mocha/README.md
  packages/allure-mocha/package.json
  packages/allure-mocha/rollup.config.mjs
  packages/allure-mocha/src/reporter.ts
  packages/allure-mocha/src/setupAllureMochaParallel.ts
  packages/allure-mocha/src/utils.ts
  packages/allure-mocha/test/fixtures/AllureMochaParallelWriter.cjs
  packages/allure-mocha/test/fixtures/reporter.cjs
  packages/allure-mocha/test/fixtures/runners/parallel.ts
  packages/allure-mocha/test/fixtures/runners/singleThread.ts
  packages/allure-mocha/test/fixtures/setupParallel.cjs
  packages/allure-mocha/test/utils.ts
Labels: theme:api, type:new feature, theme:mocha

#972 Facade types correction
  packages/allure-codeceptjs/.gitignore
  packages/allure-codeceptjs/README.md
  packages/allure-codeceptjs/src/runtime.ts
  packages/allure-cucumberjs/src/index.ts
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/src/runtime.ts
  packages/allure-cucumberjs/src/world.ts
  packages/allure-cucumberjs/test/spec/runtime/legacy/steps.test.ts
  packages/allure-cypress/src/index.ts
  packages/allure-jasmine/src/JasmineAllureReporter.ts
  packages/allure-jasmine/src/index.ts
  packages/allure-jasmine/src/types/properties.d.ts
  packages/allure-jasmine/test/spec/runtime/modern/steps.test.ts
  packages/allure-jest/src/index.ts
  packages/allure-js-commons/src/TestRuntime.ts
  packages/allure-js-commons/src/facade.ts
  packages/allure-js-commons/src/sdk/index.ts
  packages/allure-mocha/src/ContextBasedTestRuntime.ts
  packages/allure-mocha/src/MochaTestRuntime.ts
  packages/allure-mocha/src/reporter.ts
  packages/allure-mocha/src/utils.ts
  packages/allure-playwright/src/runtime.ts
  packages/allure-vitest/src/runtime.ts
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, type:internal, theme:codeceptjs, theme:vitest

#971 impr(playwright): new fullname format and improved test plan support
  packages/allure-js-commons/src/sdk/TestPlan.ts
  packages/allure-js-commons/src/sdk/node/TestPlan.ts
  packages/allure-js-commons/src/sdk/node/index.ts
  packages/allure-playwright/package.json
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/history.spec.ts
  packages/allure-playwright/test/spec/skip.test.ts
  packages/allure-playwright/test/spec/testplan.spec.ts
Labels: type:improvement, theme:api, theme:playwright

#974 Ensure results dir created before write result
  packages/allure-js-commons/src/sdk/node/writers/FileSystemAllureWriter.ts
  packages/allure-js-commons/test/spec/FileSystemAllureWriter.spec.ts
Labels: type:bug, theme:api, theme:commons
