Repository allure-framework/allure-js, pull requests merged in 2024-02, with the labels that each got.

#854 Missing vitest features
  packages/allure-jest/test/utils.ts
  packages/allure-js-commons/index.ts
  packages/allure-js-commons/internal.ts
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/utils.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/utils.ts
  packages/allure-vitest/README.md
  packages/allure-vitest/src/index.ts
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/src/setup.ts
  packages/allure-vitest/test/spec/setup/dataTable.test.ts
  packages/allure-vitest/test/spec/setup/testPlan.test.ts
  packages/allure-vitest/test/spec/skipped.test.ts
  packages/allure-vitest/test/spec/titleMetadata.test.ts
  packages/allure-vitest/test/utils.ts
Labels: type:bug, theme:api, theme:jest, theme:playwright, theme:vitest

#875 Fix vitest types declarations
  .pnp.cjs
  .pnp.loader.mjs
  packages/allure-vitest/.gitignore
  packages/allure-vitest/package.json
  packages/allure-vitest/tsconfig.json
Labels: type:bug, theme:vitest

#877 fix(vitest): Add missing hostname label
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/test/spec/direct/timeline.test.ts
Labels: type:bug, theme:vitest

#874 [Vitest]: correct and suites labels
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/src/setup.ts
  packages/allure-vitest/src/utils.ts
  packages/allure-vitest/test/spec/fullName.test.ts
  packages/allure-vitest/test/spec/setup/testPlan.test.ts
Labels: type:bug, theme:vitest

#881 fix(vitest): fix test duration and hostname
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/test/spec/direct/timeline.test.ts
Labels: type:bug, theme:vitest

#883 fix(vitest): fix thread id for tests
  packages/allure-vitest/src/index.ts
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/src/setup.ts
  packages/allure-vitest/test/spec/direct/timeline.test.ts
Labels: type:bug, theme:vitest

#879 [Newman]: fix markdown description
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/test/specs/overview.ts
Labels: type:bug, theme:newman

#885 fix(vitest): calculate full duration
  packages/allure-vitest/src/reporter.ts
Labels: type:bug, theme:vitest

#890 Increase Jest tests timeout
  packages/allure-jest/jest.config.js
Labels: theme:jest, type:internal
