Repository allure-framework/allure-js, pull requests merged in 2024-08, with the labels that each got.

#1085 fix: remove ansi characters in steps statusDetails
  packages/allure-js-commons/src/sdk/runtime/MessageTestRuntime.ts
  packages/allure-js-commons/test/sdk/runtime/MessageTestRuntime.spec.ts
Labels: type:bug, theme:api

#1099 fix(allure-vitest): add support for test.extend
  packages/allure-vitest/src/setup.ts
  packages/allure-vitest/src/utils.ts
  packages/allure-vitest/test/spec/test-extend.test.ts
  packages/allure-vitest/test/spec/testPlan.test.ts
Labels: type:bug, theme:vitest

#1100 fix(allure-js-commons): rft reporter configuration type
  packages/allure-codeceptjs/src/index.ts
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-cucumberjs/src/model.ts
  packages/allure-cypress/src/model.ts
  packages/allure-jasmine/src/index.ts
  packages/allure-jest/src/model.ts
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/reporter/types.ts
  packages/allure-js-commons/test/sdk/reporter/writer/FileSystemWriter.spec.ts
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-playwright/src/model.ts
  packages/allure-vitest/src/reporter.ts
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/src/model.ts
Labels: type:bug, theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:newman, theme:codeceptjs, theme:vitest

#1103 chore(allure-js-commons): add default writer factory
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-jasmine/src/index.ts
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-js-commons/src/sdk/reporter/utils.ts
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-playwright/src/index.ts
  packages/allure-vitest/src/reporter.ts
  packages/newman-reporter-allure/src/index.ts
Labels: type:improvement, theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:newman, theme:codeceptjs, theme:vitest

#1104 feat(allure-mocha): add support for test retries
  .pnp.cjs
  .yarn/cache/diff-npm-5.2.0-f523a581f3-01b7b440f8.zip
  .yarn/cache/mocha-npm-10.5.1-8ada492894-30f79e33ec.zip
  .yarn/cache/mocha-npm-10.6.0-beef11acfb-8e9901f4c8.zip
  .yarn/cache/serialize-javascript-npm-6.0.2-cc09461d45-445a420a6f.zip
  .yarn/cache/workerpool-npm-6.5.1-7e0dd85ca7-b1b00139fe.zip
  packages/allure-js-commons/src/sdk/reporter/writer/MessageReader.ts
  packages/allure-mocha/package.json
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/test/samples/setupParallel.cjs
  packages/allure-mocha/test/samples/spec/retries.spec.js
  packages/allure-mocha/test/spec/framework/retries.test.ts
  packages/allure-mocha/test/utils.ts
  yarn.lock
Labels: theme:api, type:new feature, theme:mocha

#1109 feat(allure-cypress): new real-time lifecycle, hooks, and test plan
  packages/allure-cypress/README.md
  packages/allure-cypress/src/index.ts
  packages/allure-cypress/src/model.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/src/runtime.ts
  packages/allure-cypress/src/state.ts
  packages/allure-cypress/src/utils.ts
  packages/allure-cypress/test/spec/base.test.ts
  packages/allure-cypress/test/spec/hooks.test.ts
  packages/allure-cypress/test/spec/reporterInstance.test.ts
  packages/allure-cypress/test/spec/testplan.test.ts
  packages/allure-cypress/test/spec/video.test.ts
  packages/allure-cypress/test/utils.ts
  packages/allure-cypress/vitest.config.ts
Labels: type:new feature

#1107 feat(allure-codeceptjs): rework codeceptjs integration
  .pnp.cjs
  packages/allure-codeceptjs/package.json
  packages/allure-codeceptjs/src/helpers.ts
  packages/allure-codeceptjs/src/index.ts
  packages/allure-codeceptjs/src/model.ts
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/src/runtime.ts
  packages/allure-codeceptjs/test/samples/codecept.conf.js
  packages/allure-codeceptjs/test/samples/helper.js
  packages/allure-codeceptjs/test/samples/hooksHelper.js
  packages/allure-codeceptjs/test/spec/bdd.test.ts
  packages/allure-codeceptjs/test/spec/hooks.test.ts
  packages/allure-codeceptjs/test/spec/retries.test.ts
  packages/allure-codeceptjs/test/spec/runtime/legacy/steps.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/helperHooks.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/steps.test.ts
  packages/allure-codeceptjs/test/spec/screenshotOnFail.test.ts
  packages/allure-codeceptjs/test/spec/simple.test.ts
  packages/allure-codeceptjs/test/spec/skipped.test.ts
  packages/allure-codeceptjs/test/spec/steps.test.ts
  packages/allure-codeceptjs/test/spec/tags.test.ts
  packages/allure-codeceptjs/test/spec/testplan.test.ts
  packages/allure-codeceptjs/test/spec/tryto.test.ts
  packages/allure-codeceptjs/test/utils.ts
  packages/allure-js-commons/src/sdk/index.ts
  packages/allure-js-commons/src/sdk/utils.ts
  packages/allure-js-commons/test/sdk/utils.spec.ts
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/src/utils.ts
  yarn.lock
Labels: theme:api, type:new feature, theme:mocha, theme:codeceptjs

#1110 fix(allure-js-commons): add support for workers in default thread label
  packages/allure-js-commons/src/sdk/reporter/utils/labels.ts
Labels: type:improvement, theme:api

#1105 fix: labels consistency across packages
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/test/spec/globalLabels.test.ts
  packages/allure-codeceptjs/test/spec/labels.test.ts
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/test/spec/labels.test.ts
  packages/allure-cucumberjs/test/spec/simple.test.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/test/spec/globalLabels.test.ts
  packages/allure-cypress/test/spec/labels.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/steps.test.ts
  packages/allure-cypress/test/spec/runtime/modern/steps.test.ts
  packages/allure-jasmine/src/index.ts
  packages/allure-jasmine/test/spec/globalLabels.test.ts
  packages/allure-jasmine/test/spec/labels.test.ts
  packages/allure-jasmine/test/spec/suites.test.ts
  packages/allure-jasmine/test/utils.ts
  packages/allure-jest/package.json
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/test/spec/globalLabels.test.ts
  packages/allure-jest/test/spec/labels.test.ts
  packages/allure-jest/test/utils.ts
  packages/allure-js-commons/src/sdk/reporter/index.ts
  packages/allure-js-commons/src/sdk/reporter/utils.ts
  packages/allure-js-commons/src/sdk/reporter/utils/labels.ts
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/test/spec/framework/result.test.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/globalLabels.test.ts
  packages/allure-playwright/test/spec/labels.test.ts
  packages/allure-playwright/test/spec/suites.spec.ts
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/test/spec/environmentLabels.test.ts
  packages/allure-vitest/test/spec/labels.test.ts
  packages/allure-vitest/test/utils.ts
  packages/newman-reporter-allure/src/index.ts
Labels: type:improvement, theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:newman, theme:codeceptjs, theme:vitest

#1115 bump caniuse-lite
  .pnp.cjs
  .yarn/cache/caniuse-lite-npm-1.0.30001591-88044eed22-3891fad30a.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001651-976e4d30de-fe4857b2a9.zip
  yarn.lock
Labels: type:dependencies

#1116 fix test statuses for expect.extend errors
  packages/allure-js-commons/src/sdk/utils.ts
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/test/spec/expect-extend.test.ts
Labels: type:bug, theme:api, theme:vitest

#1123 fix(allure-cypress): missing tests and fixtures when an error occurs in a hook
  packages/allure-cypress/src/index.ts
  packages/allure-cypress/src/model.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/src/runtime.ts
  packages/allure-cypress/src/state.ts
  packages/allure-cypress/src/utils.ts
  packages/allure-cypress/test/spec/hooks.test.ts
Labels: type:bug

#1125 fix(allure-cucumberjs): fix timings
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/test/samples/features/duration.feature
  packages/allure-cucumberjs/test/samples/support/duration.cjs
  packages/allure-cucumberjs/test/spec/duration.test.ts
Labels: type:bug, theme:cucumberjs

#1041 feat(commons): process metadata messages from before hooks
  packages/allure-jest/test/spec/hooks.test.ts
  packages/allure-js-commons/src/sdk/reporter/LifecycleState.ts
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/reporter/types.ts
  packages/allure-js-commons/test/sdk/reporter/ReporterRuntime.spec.ts
Labels: theme:api, type:new feature, theme:jest
