Repository allure-framework/allure-js, pull requests merged in 2024-09, with the labels that each got.

#1127 feat(allure-cypress): impose some limits on step parameter values created from Cypress command arguments
  packages/allure-cypress/README.md
  packages/allure-cypress/src/model.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/src/runtime.ts
  packages/allure-cypress/src/state.ts
  packages/allure-cypress/src/utils.ts
  packages/allure-cypress/test/spec/commands.test.ts
  packages/allure-js-commons/src/sdk/index.ts
  packages/allure-js-commons/src/sdk/reporter/utils.ts
  packages/allure-js-commons/src/sdk/types.ts
  packages/allure-js-commons/src/sdk/utils.ts
  packages/allure-js-commons/test/sdk/reporter/utils.spec.ts
  packages/allure-js-commons/test/sdk/utils.spec.ts
  packages/allure-mocha/src/legacy.ts
Labels: theme:api, type:new feature, theme:mocha, theme:cypress

#1140 fix(allure-playwright): ignore route.continue() steps
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/steps.spec.ts
Labels: type:improvement, theme:playwright

#1145 fix(allure-js-commons): fix hooks metadata processing
  packages/allure-jest/test/spec/runtime/modern/labels.test.ts
  packages/allure-jest/test/spec/runtime/modern/links.test.ts
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/test/sdk/reporter/ReporterRuntime.spec.ts
Labels: type:bug, theme:api, theme:jest

#1153 fix(allure-cucumberjs): fix scenario outline reporting
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/test/samples/features/examples-multi.feature
  packages/allure-cucumberjs/test/samples/features/examples-name-change.feature
  packages/allure-cucumberjs/test/samples/support/examples-multi.cjs
  packages/allure-cucumberjs/test/spec/examples.test.ts
  packages/allure-cucumberjs/test/utils.ts
Labels: type:bug, theme:cucumberjs

#1154 fix(allure-jest): add support for soft assertions
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/test/spec/hooks.test.ts
  packages/allure-jest/test/spec/skipped.test.ts
  packages/allure-jest/test/spec/snapshot.test.ts
  packages/allure-jest/test/spec/todo.test.ts
Labels: type:bug, theme:jest

#1158 fix(allure-mocha): strip ansi characters in message & trace
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/test/samples/spec/plain-mocha/ansiError.spec.js
  packages/allure-mocha/test/spec/framework/errors.test.ts
Labels: type:bug, theme:mocha

#1159 fix(allure-js-commons): detect pw expect
  packages/allure-js-commons/src/sdk/utils.ts
  packages/allure-js-commons/test/sdk/utils.spec.ts
Labels: type:bug, theme:api

#1161 fix(allure-cucumberjs): add support for playwright assertions
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/test/samples/features/errors.feature
  packages/allure-cucumberjs/test/samples/support/errors.cjs
  packages/allure-cucumberjs/test/spec/errors.test.ts
  packages/allure-js-commons/src/sdk/reporter/utils.ts
Labels: type:bug, theme:api, theme:cucumberjs
