Repository allure-framework/allure-js, pull requests merged in 2024-07, with the labels that each got.

#1026 Fix devDependency version duplication in monorepo
  .pnp.cjs
  .yarn/cache/@types-jasmine-npm-3.10.18-0ee1412708-25ae5b329c.zip
  .yarn/cache/npm-run-all2-npm-6.2.0-f9374fb4e6-917937b628.zip
  packages/allure-codeceptjs/package.json
  packages/allure-cucumberjs/package.json
  packages/allure-cypress/package.json
  packages/allure-jasmine/package.json
  packages/allure-jest/package.json
  packages/allure-js-commons/package.json
  packages/allure-mocha/package.json
  packages/allure-playwright/package.json
  packages/allure-vitest/package.json
  packages/newman-reporter-allure/package.json
  yarn.lock
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, type:dependencies, theme:playwright, theme:newman, theme:codeceptjs, theme:vitest

#1024 Proof of work for cypress native fixtures
  packages/allure-cypress/test/spec/base.test.ts
  packages/allure-cypress/test/spec/commands.test.ts
  packages/allure-cypress/test/spec/fixtures.test.ts
  packages/allure-cypress/test/spec/hooks.test.ts
  packages/allure-cypress/test/spec/reporterInstance.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/attachments.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/description.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/displayName.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/historyId.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/labels.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/links.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/parameters.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/steps.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/testCaseId.test.ts
  packages/allure-cypress/test/spec/runtime/legacy/titleMetadata.test.ts
  packages/allure-cypress/test/spec/runtime/modern/attachments.test.ts
  packages/allure-cypress/test/spec/runtime/modern/description.test.ts
  packages/allure-cypress/test/spec/runtime/modern/displayName.test.ts
  packages/allure-cypress/test/spec/runtime/modern/historyId.test.ts
  packages/allure-cypress/test/spec/runtime/modern/labels.test.ts
  packages/allure-cypress/test/spec/runtime/modern/links.test.ts
  packages/allure-cypress/test/spec/runtime/modern/parameters.test.ts
  packages/allure-cypress/test/spec/runtime/modern/steps.test.ts
  packages/allure-cypress/test/spec/runtime/modern/testCaseId.test.ts
  packages/allure-cypress/test/spec/runtime/modern/titleMetadata.test.ts
  packages/allure-cypress/test/spec/screenshots.test.ts
  packages/allure-cypress/test/spec/video.test.ts
  packages/allure-cypress/test/utils.ts
Labels: type:improvement, theme:cypress

#1027 Fix duplicated afterEach (#236)
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/src/types.ts
  packages/allure-mocha/src/utils.ts
  packages/allure-mocha/test/fixtures/samples/fixtures/afterEachTwoTests.spec.js
  packages/allure-mocha/test/spec/defects/duplicatedAfterEach.spec.ts
Labels: type:bug, theme:mocha

#1029 Add Cypress reports for skipped tests
  packages/allure-cypress/src/index.ts
  packages/allure-cypress/test/spec/base.test.ts
Labels: type:bug, theme:cypress

#1031 Add missing fixture tests for allure-mocha
  packages/allure-mocha/test/fixtures/samples/fixtures/scoping.spec.js
  packages/allure-mocha/test/fixtures/samples/legacy/steps/fixtureWithStep.spec.js
  packages/allure-mocha/test/fixtures/samples/steps/fixtureWithStep.spec.js
  packages/allure-mocha/test/fixtures/samples/title/fixture.spec.js
  packages/allure-mocha/test/fixtures/samples/title/test.spec.js
  packages/allure-mocha/test/spec/api/runtime/legacy/steps.test.ts
  packages/allure-mocha/test/spec/api/runtime/metadata.test.ts
  packages/allure-mocha/test/spec/api/runtime/steps.test.ts
  packages/allure-mocha/test/spec/framework/fixtures.test.ts
Labels: type:internal

#1030 chore(allure-playwright): add test for testCaseId for skipped tests
  packages/allure-playwright/test/spec/skip.test.ts
Labels: theme:playwright, type:internal

#1032 Cypress cucumber preprocessor support
  packages/allure-cypress/src/index.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/src/utils.ts
  packages/allure-cypress/test/spec/commands.test.ts
Labels: type:bug, theme:cypress

#1033 feat(allure-playwright): add package label
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/package.spec.ts
Labels: type:improvement, theme:playwright

#1037 Cypress test plan support
  packages/allure-cypress/src/index.ts
  packages/allure-cypress/src/model.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/src/utils.ts
  packages/allure-cypress/test/spec/testplan.test.ts
  packages/allure-cypress/test/utils.ts
Labels: type:new feature, theme:cypress

#1035 feat(allure-playwright): support skip and fixme annotations
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/annotations.spec.ts
  packages/allure-playwright/test/spec/skip.test.ts
Labels: type:improvement, theme:playwright

#1034 feat(allure-playwright): support test tags
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/tags.spec.ts
Labels: type:new feature, theme:playwright

#1004 Don't add extra suite label in allure-cucumberjs to fix #999
  packages/allure-cucumberjs/src/reporter.ts
Labels: type:improvement, theme:cucumberjs

#1044 Jest fixtures and test plan support
  packages/allure-cypress/src/reporter.ts
  packages/allure-jest/src/AllureJestTestRuntime.ts
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/src/model.ts
  packages/allure-jest/src/utils.ts
  packages/allure-jest/test/spec/categories.test.ts
  packages/allure-jest/test/spec/dataTable.test.ts
  packages/allure-jest/test/spec/duplicatedTests.test.ts
  packages/allure-jest/test/spec/environmentInfo.test.ts
  packages/allure-jest/test/spec/hooks.test.ts
  packages/allure-jest/test/spec/retry.test.ts
  packages/allure-jest/test/spec/runtime/legacy/attachments.test.ts
  packages/allure-jest/test/spec/runtime/legacy/description.test.ts
  packages/allure-jest/test/spec/runtime/legacy/historyId.test.ts
  packages/allure-jest/test/spec/runtime/legacy/labels.test.ts
  packages/allure-jest/test/spec/runtime/legacy/links.test.ts
  packages/allure-jest/test/spec/runtime/legacy/parameters.test.ts
  packages/allure-jest/test/spec/runtime/legacy/steps.test.ts
  packages/allure-jest/test/spec/runtime/legacy/testCaseId.test.ts
  packages/allure-jest/test/spec/runtime/modern/attachments.test.ts
  packages/allure-jest/test/spec/runtime/modern/description.test.ts
  packages/allure-jest/test/spec/runtime/modern/historyId.test.ts
  packages/allure-jest/test/spec/runtime/modern/labels.test.ts
  packages/allure-jest/test/spec/runtime/modern/links.test.ts
  packages/allure-jest/test/spec/runtime/modern/parameters.test.ts
  packages/allure-jest/test/spec/runtime/modern/steps.test.ts
  packages/allure-jest/test/spec/runtime/modern/testCaseId.test.ts
  packages/allure-jest/test/spec/simple.test.ts
  packages/allure-jest/test/spec/skipped.test.ts
  packages/allure-jest/test/spec/testplan.test.ts
  packages/allure-jest/test/spec/todo.test.ts
  packages/allure-jest/test/utils.ts
Labels: type:new feature, theme:jest

#1043 feat(commons): add logStep Runtime API
  packages/allure-cypress/src/index.ts
  packages/allure-cypress/test/spec/runtime/modern/attachments.test.ts
  packages/allure-cypress/test/spec/runtime/modern/description.test.ts
  packages/allure-cypress/test/spec/runtime/modern/displayName.test.ts
  packages/allure-cypress/test/spec/runtime/modern/historyId.test.ts
  packages/allure-cypress/test/spec/runtime/modern/labels.test.ts
  packages/allure-cypress/test/spec/runtime/modern/links.test.ts
  packages/allure-cypress/test/spec/runtime/modern/parameters.test.ts
  packages/allure-cypress/test/spec/runtime/modern/steps.test.ts
  packages/allure-cypress/test/spec/runtime/modern/testCaseId.test.ts
  packages/allure-cypress/test/spec/runtime/modern/titleMetadata.test.ts
  packages/allure-js-commons/src/facade.ts
  packages/allure-js-commons/src/index.ts
  packages/allure-js-commons/src/sdk/runtime/MessageTestRuntime.ts
  packages/allure-js-commons/src/sdk/runtime/NoopTestRuntime.ts
  packages/allure-js-commons/src/sdk/runtime/types.ts
  packages/allure-js-commons/test/facade.spec.ts
  packages/allure-js-commons/test/sdk/runtime/MessageTestRuntime.spec.ts
  packages/allure-playwright/src/runtime.ts
  packages/allure-playwright/test/spec/runtime/modern/steps.spec.ts
Labels: theme:api, type:new feature, theme:playwright

#1045 Global labels support
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/test/spec/globalLabels.test.ts
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/test/spec/globalLabels.test.ts
  packages/allure-cucumberjs/test/utils.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/test/spec/globalLabels.test.ts
  packages/allure-jasmine/src/index.ts
  packages/allure-jasmine/test/spec/globalLabels.test.ts
  packages/allure-jasmine/test/utils.ts
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/test/spec/globalLabels.test.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/globalLabels.test.ts
  packages/newman-reporter-allure/package.json
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/test/spec/globalLabels.test.ts
Labels: type:new feature, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:newman, theme:codeceptjs

#1048 Cypress retires handling
  packages/allure-cypress/src/index.ts
  packages/allure-cypress/src/model.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/test/spec/categories.test.ts
  packages/allure-cypress/test/spec/hooks.test.ts
  packages/allure-cypress/test/spec/retries.test.ts
Labels: type:new feature, theme:cypress

#1049 Allow to attach Cypress videos for failed specs only
  packages/allure-cypress/README.md
  packages/allure-cypress/src/model.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/test/spec/video.test.ts
Labels: type:new feature, theme:cypress

#1050 tests(allure-jest): add tests to showcase runtime api usage in hooks
  packages/allure-jest/test/spec/hooks.test.ts
Labels: theme:jest, type:internal

#1051 fix test timings
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/test/sdk/reporter/ReporterRuntime.spec.ts
  packages/allure-playwright/src/index.ts
  packages/allure-vitest/src/reporter.ts
Labels: type:bug, theme:api, theme:jest, theme:cucumberjs, theme:playwright, theme:vitest

#1052 fix(allure-jest): beforeEach/afterEach affect all tests in the suite, beforeAll/afterAll don't affect tests in sub-suites
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/test/spec/hooks.test.ts
Labels: type:bug, theme:jest

#1054 feat(allure-jest): compatibility with Jest >=24.8.0
  packages/allure-jest/package.json
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/src/jsdom.ts
  packages/allure-jest/src/model.ts
  packages/allure-jest/src/node.ts
  packages/allure-jest/src/utils.ts
  yarn.lock
Labels: type:new feature, theme:jest

#1057 fix(newman-reporter-allure): Update README.md - change flag export to reportDir (fixes #992)
  packages/newman-reporter-allure/README.md
Labels: type:docs, theme:newman

#1063 feat(allure-jasmine): selective run implementation
  .pnp.cjs
  packages/allure-jasmine/babel.cjs.json
  packages/allure-jasmine/package.json
  packages/allure-jasmine/src/index.ts
  packages/allure-jasmine/src/model.ts
  packages/allure-jasmine/src/testplan.ts
  packages/allure-jasmine/src/utils.ts
  packages/allure-jasmine/test/spec/hooks.test.ts
  packages/allure-jasmine/test/spec/metadata.test.ts
  packages/allure-jasmine/test/spec/testplan.test.ts
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/reporter/testplan.ts
  packages/allure-js-commons/test/sdk/reporter/testplan.spec.ts
  yarn.lock
Labels: theme:api, type:new feature, theme:jasmine

#1077 fix(newman-reporter-allure): make Newman container name as parent suite name
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/test/spec/simple.test.ts
Labels: type:bug, theme:newman

#1080 chore: newman reuse getSuiteLabel util
  packages/newman-reporter-allure/src/index.ts
Labels: type:improvement, theme:newman
