Repository allure-framework/allure-js, pull requests merged in 2024-06, with the labels that each got.

#987 Fix newman
  .yarnrc.yml
  packages/newman-reporter-allure/package.json
  yarn.lock
Labels: type:bug, theme:newman

#986 Mocha legacy runtime API
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-mocha/package.json
  packages/allure-mocha/src/MochaAllureReporter.ts
  packages/allure-mocha/src/legacy.ts
  packages/allure-mocha/src/legacyUtils.ts
  packages/allure-mocha/test/fixtures/samples/legacy/categories.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/description.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/descriptionHtml.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/environmentInfo.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/fixtures/renamed.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/bdd/epic.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/bdd/feature.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/bdd/story.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/custom.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/layer.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/owner.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/severities/blocker.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/severities/critical.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/severities/minor.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/severities/normal.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/severities/trivial.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/suites/parentSuite.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/suites/subSuite.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/suites/suite.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/labels/tags.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/links/issue.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/links/namedLink.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/links/tms.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/links/urlOnlyLink.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/links/urlTypeLink.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/parameters/testWithExcludedParameter.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/parameters/testWithHiddenParameter.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/parameters/testWithMaskedParameter.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/parameters/testWithParameter.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/brokenLogStep.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/brokenStep.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/failedLogStep.spec.js
  packages/allure-mocha/test/fixtures/samples/legacy/steps/failedStep.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/lambdaStep.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/logStep.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/renamedStep.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/skippedLogStep.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/stepReturnsPromise.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/stepReturnsValue.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/stepWithAttachment.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/stepWithParameter.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/twoNestedSteps.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/steps/twoStepsInRow.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/testAttachment.spec.mjs
  packages/allure-mocha/test/fixtures/samples/legacy/testAttachmentFromStep.spec.mjs
  packages/allure-mocha/test/spec/api/runtime/legacy/attachments.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/bdd.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/labels.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/links.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/metadata.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/parameters.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/suites.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/tags.test.ts
Labels: type:improvement, theme:api, theme:mocha

#989 Fix link's order of arguments
  packages/allure-codeceptjs/package.json
  packages/allure-codeceptjs/src/legacy.ts
  packages/allure-codeceptjs/tsconfig.json
  packages/allure-cucumberjs/package.json
  packages/allure-cucumberjs/src/world.ts
  packages/allure-cucumberjs/test/fixtures/support/runtime/modern/links.cjs
  packages/allure-cucumberjs/tsconfig.json
  packages/allure-cypress/package.json
  packages/allure-cypress/src/index.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/test/spec/runtime/legacy/links.test.ts
  packages/allure-cypress/test/spec/runtime/modern/links.test.ts
  packages/allure-cypress/tsconfig.json
  packages/allure-jasmine/package.json
  packages/allure-jasmine/tsconfig.json
  packages/allure-jest/package.json
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/tsconfig.json
  packages/allure-js-commons/package.json
  packages/allure-js-commons/src/facade.ts
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/reporter/utils.ts
  packages/allure-js-commons/test/sdk/reporter/utils.spec.ts
  packages/allure-js-commons/tsconfig.json
  packages/allure-mocha/package.json
  packages/allure-mocha/src/legacy.ts
  packages/allure-mocha/test/fixtures/samples/links/namedLink.spec.mjs
  packages/allure-mocha/test/fixtures/samples/links/urlTypeLink.spec.mjs
  packages/allure-mocha/test/spec/api/runtime/links.test.ts
  packages/allure-mocha/tsconfig.json
  packages/allure-playwright/src/legacy.ts
  packages/allure-vitest/src/legacy.ts
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/test/spec/runtime/modern/links.test.ts
  packages/newman-reporter-allure/package.json
  packages/newman-reporter-allure/tsconfig.json
Labels: type:improvement, theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:newman, theme:codeceptjs, theme:vitest

#988 Enable ts comments
  tsconfig.json
Labels: type:improvement, theme:build

#993 Add support for beforeAll and afterAll vitest fixtures
  .pnp.cjs
  .yarn/cache/@vitest-expect-npm-1.3.1-973071a540-7c2818b208.zip
  .yarn/cache/@vitest-runner-npm-1.3.1-944c525608-dcd452216b.zip
  .yarn/cache/@vitest-snapshot-npm-1.3.1-acd68865ee-2212ae82eb.zip
  .yarn/cache/@vitest-spy-npm-1.3.1-6cf3de14ab-544c8a30fd.zip
  .yarn/cache/@vitest-utils-npm-1.3.1-9057d8d83a-170c62e6c3.zip
  .yarn/cache/vite-node-npm-1.3.1-d8d3f8afc1-d6ca8cd5b8.zip
  .yarn/cache/vitest-npm-1.3.1-f654c79bcc-41a8405d65.zip
  packages/allure-vitest/.eslintrc.cjs
  packages/allure-vitest/package.json
  packages/allure-vitest/src/VitestTestRuntime.ts
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/src/setup.ts
  packages/allure-vitest/test/spec/fixtures.test.ts
  packages/allure-vitest/tsconfig.test.json
  yarn.lock
Labels: type:improvement, theme:vitest

#997 feat(vitest): add support for env and categories
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/test/spec/categories.test.ts
  packages/allure-vitest/test/spec/environmentInfo.test.ts
Labels: type:new feature, theme:vitest

#998 Cucumber hooks fixtures
  packages/allure-cucumberjs/src/index.ts
  packages/allure-cucumberjs/src/model.ts
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/test/fixtures/features/hooks.feature
  packages/allure-cucumberjs/test/fixtures/support/failedHooks.cjs
  packages/allure-cucumberjs/test/fixtures/support/hooks.cjs
  packages/allure-cucumberjs/test/spec/hooks.test.ts
Labels: type:new feature, theme:cucumberjs

#994 CodeceptJS hooks fixtures
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/test/spec/hooks.test.ts
  packages/allure-codeceptjs/test/spec/simple.test.ts
Labels: type:new feature, theme:codeceptjs

#1003 Allure Mocha: testplan support, env info and categories, metadata
  packages/allure-mocha/package.json
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/src/utils.ts
  packages/allure-mocha/test/fixtures/reporter.cjs
  packages/allure-mocha/test/fixtures/runner.js
  packages/allure-mocha/test/fixtures/samples/labels/meta/change.spec.js
  packages/allure-mocha/test/fixtures/samples/labels/meta/id/1004.spec.js
  packages/allure-mocha/test/fixtures/samples/labels/meta/id/1005.spec.js
  packages/allure-mocha/test/fixtures/samples/labels/meta/multiple.spec.js
  packages/allure-mocha/test/fixtures/samples/labels/meta/single.spec.js
  packages/allure-mocha/test/spec/api/metadata.test.ts
  packages/allure-mocha/test/spec/api/testplan.test.ts
  packages/allure-mocha/test/spec/config.test.ts
  packages/allure-mocha/test/spec/framework/result.test.ts
  packages/allure-mocha/test/utils.ts
  packages/allure-mocha/vitest.config.mts
Labels: type:new feature, theme:mocha

#1006 Fix typescript-eslint issues
  .eslintrc.cjs
  .pnp.loader.mjs
  packages/allure-codeceptjs/.eslintrc.cjs
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/test/spec/runtime/legacy/attachments.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/attachments.test.ts
  packages/allure-cucumberjs/.eslintrc.cjs
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cypress/.eslintrc.cjs
  packages/allure-cypress/test/spec/screenshots.test.ts
  packages/allure-jasmine/.eslintrc.cjs
  packages/allure-jasmine/src/index.ts
  packages/allure-jest/.eslintrc.cjs
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-js-commons/.eslintrc.cjs
  packages/allure-js-commons/tsconfig.test.json
  packages/allure-mocha/.eslintrc.cjs
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/src/legacy.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/links.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/parameters.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/steps.test.ts
  packages/allure-mocha/test/spec/api/runtime/legacy/suites.test.ts
  packages/allure-mocha/test/spec/api/runtime/links.test.ts
  packages/allure-mocha/test/spec/api/runtime/parameters.test.ts
  packages/allure-mocha/test/spec/api/runtime/steps.test.ts
  packages/allure-mocha/test/spec/api/runtime/suites.test.ts
  packages/allure-mocha/test/spec/framework/statuses.test.ts
  packages/allure-playwright/.eslintrc.cjs
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/runtime/legacy/attachments.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/labelOverride.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/attachments.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/labelOverride.spec.ts
  packages/allure-playwright/test/spec/stdio.spec.ts
  packages/allure-vitest/.eslintrc.cjs
  packages/newman-reporter-allure/.eslintrc.cjs
Labels: theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, type:internal, theme:codeceptjs

#1008 Change link template config type from an array to a record. Support link template functions
  packages/allure-codeceptjs/test/spec/runtime/legacy/links.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/links.test.ts
  packages/allure-cucumberjs/src/model.ts
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/test/utils.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/test/utils.ts
  packages/allure-jasmine/test/fixtures/spec/helpers/legacy/allure.cjs
  packages/allure-jasmine/test/fixtures/spec/helpers/modern/allure.cjs
  packages/allure-jest/test/utils.ts
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/reporter/types.ts
  packages/allure-js-commons/src/sdk/reporter/utils.ts
  packages/allure-js-commons/test/sdk/reporter/ReporterRuntime.spec.ts
  packages/allure-js-commons/test/sdk/reporter/utils/links.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/links.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/links.spec.ts
  packages/allure-vitest/test/utils.ts
Labels: type:improvement, theme:api, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:codeceptjs, theme:vitest

#1012 Add report for allure-codeceptjs package
  .pnp.cjs
  .yarn/cache/@vitest-expect-npm-1.5.0-aca2e6805c-9ee8014a4e.zip
  .yarn/cache/@vitest-runner-npm-1.5.0-4ea8130b80-f13875fd22.zip
  .yarn/cache/@vitest-snapshot-npm-1.5.0-807b642dba-cd55c5c2aa.zip
  .yarn/cache/@vitest-spy-npm-1.5.0-7e371e530c-4e692d4a7c.zip
  .yarn/cache/@vitest-utils-npm-1.5.0-be84c568f7-80c2d0d313.zip
  .yarn/cache/vite-node-npm-1.5.0-231bd83051-ebcb8ac18b.zip
  .yarn/cache/vitest-npm-1.5.0-9d3c1fee8a-ad487ab857.zip
  packages/allure-codeceptjs/.eslintrc.cjs
  packages/allure-codeceptjs/package.json
  packages/allure-codeceptjs/test/utils.ts
  packages/allure-codeceptjs/vitest-setup.ts
  packages/allure-codeceptjs/vitest.config.ts
  packages/allure-playwright/package.json
  packages/allure-playwright/scripts/fixup.mjs
  yarn.lock
Labels: type:improvement, theme:playwright, theme:codeceptjs

#1013 Add report for allure-cucumberjs package
  .pnp.cjs
  packages/allure-cucumberjs/.eslintrc.cjs
  packages/allure-cucumberjs/package.json
  packages/allure-cucumberjs/test/utils.ts
  packages/allure-cucumberjs/vitest-setup.ts
  packages/allure-cucumberjs/vitest.config.ts
  yarn.lock
Labels: type:improvement, theme:cucumberjs

#1014 Add report for allure-mocha package
  .pnp.cjs
  packages/allure-mocha/.eslintrc.cjs
  packages/allure-mocha/package.json
  packages/allure-mocha/test/spec/framework/result.test.ts
  packages/allure-mocha/test/utils.ts
  packages/allure-mocha/vitest-setup.ts
  packages/allure-mocha/vitest.config.mts
  yarn.lock
Labels: type:improvement, theme:mocha

#1016 Add report for allure-jest package
  .pnp.cjs
  packages/allure-jest/.eslintrc.cjs
  packages/allure-jest/package.json
  packages/allure-jest/test/utils.ts
  packages/allure-jest/vitest-setup.ts
  packages/allure-jest/vitest.config.ts
  yarn.lock
Labels: type:improvement, theme:jest

#1017 Specify vitest required version
  .pnp.cjs
  .yarn/cache/@vitest-expect-npm-1.4.0-b2e1e5e1f9-00d794a807.zip
  .yarn/cache/@vitest-expect-npm-1.5.3-2965fb08ab-df40716134.zip
  .yarn/cache/@vitest-runner-npm-1.4.0-837c5e79ed-7b8a692de5.zip
  .yarn/cache/@vitest-runner-npm-1.5.3-0b60994359-0525eb756f.zip
  .yarn/cache/@vitest-snapshot-npm-1.4.0-92303161af-43e22f8aee.zip
  .yarn/cache/@vitest-snapshot-npm-1.5.3-2bf77a84ae-8ad057fbef.zip
  .yarn/cache/@vitest-spy-npm-1.4.0-477e8c3874-0e48f9a64f.zip
  .yarn/cache/@vitest-spy-npm-1.5.3-a29fc0adf5-0a5eb6239c.zip
  .yarn/cache/@vitest-utils-npm-1.4.0-156b258a0b-2261705e2e.zip
  .yarn/cache/@vitest-utils-npm-1.5.3-616a493530-739fafc007.zip
  .yarn/cache/tinypool-npm-0.8.2-f1447938a8-5e2cdddc1c.zip
  .yarn/cache/vite-node-npm-1.4.0-209e0aec1b-691e828c2a.zip
  .yarn/cache/vite-node-npm-1.5.3-0e67b976b6-720c6e8808.zip
  .yarn/cache/vitest-npm-1.4.0-465b7cb84c-cf4675657f.zip
  .yarn/cache/vitest-npm-1.5.3-7e946ce491-e28e4beb5e.zip
  packages/allure-cypress/package.json
  packages/allure-jasmine/package.json
  packages/allure-vitest/package.json
  yarn.lock
Labels: type:improvement, theme:jasmine, theme:vitest

#1015 Allure-mocha: fix test result overwritten when a test is skipped dynamically
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/test/fixtures/samples/labels/skippedAtRuntime.spec.js
  packages/allure-mocha/test/fixtures/samples/legacy/labels/skippedAtRuntime.spec.js
  packages/allure-mocha/test/spec/defects/dynamicSkip.spec.ts
  packages/allure-mocha/test/utils.ts
  packages/allure-mocha/vitest.config.mts
Labels: type:bug, theme:mocha

#1018 Add report for allure-jasmine package
  .pnp.cjs
  packages/allure-jasmine/.eslintrc.cjs
  packages/allure-jasmine/package.json
  packages/allure-jasmine/test/utils.ts
  packages/allure-jasmine/vitest-setup.ts
  packages/allure-jasmine/vitest.config.ts
  yarn.lock
Labels: type:improvement, theme:jasmine

#1019 Add report for newman-reporter-allure package
  .pnp.cjs
  packages/newman-reporter-allure/.eslintrc.cjs
  packages/newman-reporter-allure/package.json
  packages/newman-reporter-allure/test/utils.ts
  packages/newman-reporter-allure/vitest-setup.ts
  packages/newman-reporter-allure/vitest.config.ts
  yarn.lock
Labels: type:improvement, theme:newman

#1020 Add allure report for cypress
  .pnp.cjs
  packages/allure-cypress/.eslintrc.cjs
  packages/allure-cypress/package.json
  packages/allure-cypress/vitest-setup.ts
  packages/allure-cypress/vitest.config.ts
  yarn.lock
Labels: type:internal, theme:cypress

#1023 Clean-up configs
  packages/allure-codeceptjs/src/index.ts
  packages/allure-codeceptjs/src/model.ts
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/test/fixtures/codecept.conf.js
  packages/allure-codeceptjs/test/spec/runtime/legacy/links.test.ts
  packages/allure-codeceptjs/test/spec/runtime/modern/links.test.ts
  packages/allure-codeceptjs/test/utils.ts
  packages/allure-cucumberjs/src/model.ts
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/test/utils.ts
  packages/allure-jasmine/src/index.ts
  packages/allure-jasmine/src/model.ts
  packages/allure-jasmine/test/utils.ts
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/src/model.ts
  packages/allure-jest/test/utils.ts
  packages/allure-js-commons/src/sdk/reporter/types.ts
  packages/allure-mocha/test/utils.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/model.ts
  packages/allure-playwright/test/spec/categories.spec.ts
  packages/allure-playwright/test/spec/environmentInfo.spec.ts
  packages/allure-playwright/test/spec/reporterOptions.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/attachments.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/links.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/attachments.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/links.spec.ts
  packages/allure-playwright/test/spec/statusDetails.spec.ts
  packages/allure-playwright/test/spec/steps.spec.ts
  packages/allure-playwright/test/spec/suites.spec.ts
  packages/allure-playwright/test/utils.ts
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/test/spec/categories.test.ts
  packages/allure-vitest/test/spec/environmentInfo.test.ts
  packages/allure-vitest/test/utils.ts
  packages/newman-reporter-allure/package.json
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/src/model.ts
  packages/newman-reporter-allure/test/utils.ts
Labels: type:improvement, theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:newman, theme:codeceptjs, theme:vitest
