Repository allure-framework/allure-js, pull requests merged in 2024-11, with the labels that each got.

#1182 feat(mocha): add support for extra reporters
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/src/extraReporters.ts
  packages/allure-mocha/src/types.ts
  packages/allure-mocha/test/samples/customReporter.cjs
  packages/allure-mocha/test/samples/reporter.cjs
  packages/allure-mocha/test/samples/runner.js
  packages/allure-mocha/test/spec/framework/extraReporters.test.ts
  packages/allure-mocha/test/utils.ts
Labels: type:new feature, theme:mocha

#1184 feat(codeceptjs): add support for mocha reporters
  packages/allure-codeceptjs/src/index.ts
  packages/allure-codeceptjs/test/spec/labels.test.ts
  packages/allure-codeceptjs/test/spec/reporters.test.ts
  packages/allure-codeceptjs/test/spec/testplan.test.ts
  packages/allure-codeceptjs/test/utils.ts
  packages/allure-codeceptjs/vitest.config.ts
Labels: type:new feature, theme:codeceptjs

#1186 Update typo to the README.md
  packages/allure-cucumberjs/README.md
Labels: theme:cucumberjs, type:docs
