Repository allure-framework/allure-js, pull requests merged in 2024-10, with the labels that each got.

#1164 fix(allure-jest): fix allure-jest broken exports
  packages/allure-jest/package.json
Labels: type:bug, theme:jest

#1170 add npm keywords
  packages/allure-codeceptjs/package.json
  packages/allure-cucumberjs/package.json
  packages/allure-cypress/package.json
  packages/allure-jasmine/package.json
  packages/allure-jest/package.json
  packages/allure-js-commons/package.json
  packages/allure-mocha/package.json
  packages/allure-playwright/package.json
  packages/allure-vitest/package.json
  packages/newman-reporter-allure/package.json
Labels: type:docs

#1180 docs: update readme to match v3 and have a common pattern
  packages/allure-codeceptjs/README.md
  packages/allure-cucumberjs/README.md
  packages/allure-cypress/README.md
  packages/allure-jasmine/README.md
  packages/allure-jest/README.md
  packages/allure-mocha/README.md
  packages/allure-playwright/README.md
  packages/allure-vitest/README.md
  packages/newman-reporter-allure/README.md
Labels: theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, type:docs, theme:newman, theme:codeceptjs, theme:vitest
