Repository allure-framework/allure-js, pull requests merged in 2025-06, with the labels that each got.

#1292 Title path
  packages/allure-codeceptjs/test/spec/titlePath.test.ts
  packages/allure-cucumberjs/src/reporter.ts
  packages/allure-cucumberjs/test/spec/simple.test.ts
  packages/allure-cypress/src/reporter.ts
  packages/allure-cypress/test/spec/titlePath.test.ts
  packages/allure-jasmine/src/index.ts
  packages/allure-jasmine/src/utils.ts
  packages/allure-jasmine/test/spec/titlePath.test.ts
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/test/spec/titlePath.test.ts
  packages/allure-jest/test/utils.ts
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/sdk/reporter/utils.ts
  packages/allure-mocha/src/AllureMochaReporter.ts
  packages/allure-mocha/test/samples/spec/plain-mocha/titlePath.spec.js
  packages/allure-mocha/test/spec/api/titlePath.test.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/titlePath.spec.ts
  packages/allure-vitest/src/reporter.ts
  packages/allure-vitest/src/utils.ts
  packages/allure-vitest/test/spec/categories.test.ts
  packages/allure-vitest/test/spec/dataTable.test.ts
  packages/allure-vitest/test/spec/duration.test.ts
  packages/allure-vitest/test/spec/environmentInfo.test.ts
  packages/allure-vitest/test/spec/expect-extend.test.ts
  packages/allure-vitest/test/spec/expect.test.ts
  packages/allure-vitest/test/spec/fixtures.test.ts
  packages/allure-vitest/test/spec/fullName.test.ts
  packages/allure-vitest/test/spec/globalLabels.test.ts
  packages/allure-vitest/test/spec/labels.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/attachments.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/description.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/displayName.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/historyId.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/labels.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/links.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/parameters.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/steps.test.ts
  packages/allure-vitest/test/spec/runtime/legacy/testCaseId.test.ts
  packages/allure-vitest/test/spec/runtime/modern/attachments.test.ts
  packages/allure-vitest/test/spec/runtime/modern/description.test.ts
  packages/allure-vitest/test/spec/runtime/modern/displayName.test.ts
  packages/allure-vitest/test/spec/runtime/modern/historyId.test.ts
  packages/allure-vitest/test/spec/runtime/modern/labels.test.ts
  packages/allure-vitest/test/spec/runtime/modern/links.test.ts
  packages/allure-vitest/test/spec/runtime/modern/parameters.test.ts
  packages/allure-vitest/test/spec/runtime/modern/steps.test.ts
  packages/allure-vitest/test/spec/runtime/modern/testCaseId.test.ts
  packages/allure-vitest/test/spec/simple.test.ts
  packages/allure-vitest/test/spec/test-extend.test.ts
  packages/allure-vitest/test/spec/testPlan.test.ts
  packages/allure-vitest/test/spec/titleMetadata.test.ts
  packages/allure-vitest/test/spec/titlePath.test.ts
  packages/allure-vitest/test/utils.ts
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/test/spec/simple.test.ts
Labels: theme:api, type:new feature, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:newman, theme:codeceptjs, theme:vitest

#1294 test(mocha): fix unstable tests that depend on stdout/stderr line splitting
  packages/allure-mocha/test/spec/framework/extraReporters.test.ts
  packages/allure-mocha/test/utils.ts
Labels: theme:mocha, type:internal

#1296 cypress: fix crashing if renderProps doesn't exist
  packages/allure-cypress/src/browser/commandLog.ts
  packages/allure-cypress/src/browser/utils.ts
  packages/allure-cypress/src/types.ts
  packages/allure-cypress/test/spec/commands.test.ts
Labels: type:bug, theme:cypress
