Repository allure-framework/allure-js, pull requests merged in 2025-01, with the labels that each got.

#1210 feat(allure-jest): allow using Allure with custom environments
  packages/allure-jest/README.md
  packages/allure-jest/package.json
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/src/jsdom.ts
  packages/allure-jest/src/node.ts
Labels: type:improvement, theme:jest

#1212 chore: improve interop between prettier and eslint
  .eslintrc.cjs
  .prettierrc.js
  packages/allure-codeceptjs/test/utils.ts
  packages/allure-jasmine/test/utils.ts
  packages/allure-mocha/src/extraReporters.ts
  packages/allure-mocha/test/spec/framework/fixtures.test.ts
  packages/allure-mocha/test/spec/framework/retries.test.ts
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/test/spec/errorMessage.test.ts
  packages/newman-reporter-allure/test/spec/exec.test.ts
  packages/newman-reporter-allure/test/spec/globalLabels.test.ts
  packages/newman-reporter-allure/test/spec/headers.test.ts
  packages/newman-reporter-allure/test/spec/requestError.test.ts
  packages/newman-reporter-allure/test/spec/simple.test.ts
  packages/newman-reporter-allure/test/spec/syntaxError.test.ts
Labels: theme:mocha, theme:jasmine, type:internal, theme:newman, theme:codeceptjs

#1213 fix(newman): show the port
  packages/newman-reporter-allure/src/index.ts
  packages/newman-reporter-allure/test/mocks/handlers.ts
  packages/newman-reporter-allure/test/spec/port.test.ts
Labels: type:bug, theme:newman

#1214 fix(codeceptjs): add support for native asserts
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/test/spec/assert.test.ts
  packages/allure-js-commons/src/sdk/utils.ts
Labels: type:bug, theme:api, theme:codeceptjs

#1215 Add support for actual and expected values in errors
  packages/allure-js-commons/src/model.ts
  packages/allure-js-commons/src/sdk/utils.ts
  packages/allure-js-commons/test/sdk/utils.spec.ts
  packages/allure-vitest/test/spec/expect.test.ts
Labels: theme:api, type:new feature, theme:vitest

#1217 Add configuration option to provide labels to all the tests
  packages/allure-cucumberjs/test/spec/globalLabels.test.ts
  packages/allure-cucumberjs/test/utils.ts
  packages/allure-cypress/test/spec/globalLabels.test.ts
  packages/allure-jasmine/test/spec/globalLabels.test.ts
  packages/allure-jest/test/spec/globalLabels.test.ts
  packages/allure-jest/test/utils.ts
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/reporter/types.ts
  packages/allure-mocha/test/samples/reporter.cjs
  packages/allure-mocha/test/samples/runner.js
  packages/allure-mocha/test/spec/framework/globalLabels.test.ts
  packages/allure-mocha/test/utils.ts
  packages/allure-playwright/test/spec/globalLabels.test.ts
  packages/allure-vitest/test/spec/globalLabels.test.ts
Labels: theme:api, type:new feature, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:vitest

#1221 Enchance global labels definition
  packages/allure-cucumberjs/test/spec/globalLabels.test.ts
  packages/allure-cypress/test/spec/globalLabels.test.ts
  packages/allure-jasmine/test/spec/globalLabels.test.ts
  packages/allure-jest/test/spec/globalLabels.test.ts
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/reporter/types.ts
  packages/allure-mocha/test/spec/framework/globalLabels.test.ts
  packages/allure-mocha/test/utils.ts
  packages/allure-playwright/test/spec/globalLabels.test.ts
  packages/allure-vitest/test/spec/globalLabels.test.ts
Labels: type:improvement, theme:api, theme:mocha, theme:jest, theme:cucumberjs, theme:jasmine, theme:playwright, theme:vitest

#1227 Support spaces in the title metadata format
  packages/allure-js-commons/src/sdk/utils.ts
  packages/allure-js-commons/test/sdk/utils.spec.ts
Labels: type:improvement, theme:api

#1228 Fix cypress issues
  packages/allure-cypress/src/browser/commandLog.ts
  packages/allure-cypress/src/browser/events/cypress.ts
  packages/allure-cypress/src/browser/state.ts
  packages/allure-cypress/src/browser/utils.ts
  packages/allure-cypress/test/spec/security.test.ts
Labels: type:bug, theme:cypress

#1233 Support allure metadata in playwright test and group annotations v2.0
  packages/allure-js-commons/src/sdk/index.ts
  packages/allure-js-commons/src/sdk/utils.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/test/spec/annotations.spec.ts
  packages/allure-playwright/test/spec/runtime/legacy/tags.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/tags.spec.ts
Labels: type:improvement, theme:api, theme:playwright

#1236 fix history id calculation for hook parameters
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/test/sdk/reporter/ReporterRuntime.spec.ts
Labels: type:bug, theme:api

#1237 feat(codeceptjs) add support for bdd steps
  packages/allure-codeceptjs/src/model.ts
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/test/spec/bdd.test.ts
  packages/allure-codeceptjs/test/spec/labels.test.ts
Labels: type:new feature, theme:codeceptjs

#1238 fix(jest): better support for jest test errors
  packages/allure-jest/src/environmentFactory.ts
  packages/allure-jest/test/spec/errors.test.ts
  packages/allure-js-commons/src/sdk/utils.ts
Labels: type:bug, theme:api, theme:jest
