Repository allure-framework/allure-js, pull requests merged in 2025-02, with the labels that each got.

#1243 feat(codeceptjs): add support for meta steps
  packages/allure-codeceptjs/src/model.ts
  packages/allure-codeceptjs/src/reporter.ts
  packages/allure-codeceptjs/test/spec/pageObject.test.ts
Labels: type:new feature, theme:codeceptjs

#1244 Fix playwright step statuses and tests structure
  packages/allure-js-commons/src/sdk/reporter/ReporterRuntime.ts
  packages/allure-js-commons/src/sdk/reporter/index.ts
  packages/allure-js-commons/src/sdk/reporter/utils.ts
  packages/allure-js-commons/test/sdk/reporter/ReporterRuntime.spec.ts
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/utils.ts
  packages/allure-playwright/test/spec/hooks.spec.ts
Labels: type:bug, theme:api, theme:playwright

#1251 Fix step context metadata for Playwright
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/runtime.ts
  packages/allure-playwright/test/spec/runtime/legacy/steps.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/steps.spec.ts
Labels: type:bug, theme:playwright

#1255 Fix step context for native playwright steps
  .pnp.cjs
  .yarn/cache/glob-npm-11.0.1-2249503635-57b12a05cc.zip
  packages/allure-mocha/package.json
  packages/allure-playwright/package.json
  packages/allure-playwright/src/index.ts
  packages/allure-playwright/src/runtime.ts
  packages/allure-playwright/test/spec/runtime/legacy/steps.spec.ts
  packages/allure-playwright/test/spec/runtime/modern/steps.spec.ts
  packages/allure-playwright/test/utils.ts
  yarn.lock
Labels: type:bug, theme:mocha, theme:playwright

#1264 Add tests for playwright trace attachments
  packages/allure-playwright/test/spec/attachments.spec.ts
Labels: theme:playwright, type:internal
